In [ ]:
import numpy as np
def f(x):
    return (np.tan(x)**2 + 2*np.tan(x) + 2)**.5

# trapezoidal method code
def trapezoidal(x0,xn,n):
    
    h = (xn - x0) / n # step size
    integration = f(x0) + f(xn)  
    for i in range(1,n):
        k = x0 + i*h
        integration = integration + 2 * f(k)
    # Finding final integration value
    integration = integration * h/2
    return integration
    
# Input section
l_limit = float(input("Enter lower limit : "))
u_limit = float(input("Enter upper limit : "))
interval = int(input("Enter panel size: "))

# Calling trapezoidal() method
result = trapezoidal(l_limit, u_limit,interval)
print("Integration result by Trapezoidal method is: ",result)

In [ ]:
from scipy import integrate
# defining integration function
# lambda is a nameless function
f = lambda x: (np.tan(x)**2 + 2*np.tan(x) + 2)**.5 
def romberg(x0,xn,n):
    integrate.romberg(function=f,a=x0,b=xn,show=True)

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("faithful.csv")

In [2]:
dd=np.array(df).reshape(2,-1)

In [3]:
dd.shape

(2, 272)

In [4]:
trial_data = dd

In [ ]:
trial_data.shape

In [ ]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.linear_model import LinearRegression
df = pd.DataFrame(trial_data.reshape(-1,2),columns=['x-valye','y-value'])
x = df.iloc[:,0].values
y = df.iloc[:,1].values
model = LinearRegression()
x = x.reshape(-1, 1)
model.fit(x,y)
beta = np.array([model.intercept_,model.coef_],dtype=object) # slope = model.coef_ and intercept = model.intercept_
df['predicted y-value'] = intercept_originalunits + slope_originalunits*df['x-valye']

In [ ]:
def display_regression(beta):
    plt.figure(figsize=(15,5))
    plt.scatter(x, y,s=50,marker ='*', color = "green")
    plt.plot(df.iloc[:,0],df.iloc[:,2].values,color='r')
    plt.xlabel("x-value")
    plt.ylabel("y-value")
    plt.title('Scatter plot with regression line')
    plt.show()

In [ ]:
display_regression(beta)

In [1]:
import numpy.linalg as la
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

df = pd.DataFrame(trial_data.reshape(-1,2),columns=['x-valye','y-value'])
x = df.iloc[:,0].values
y = df.iloc[:,1].values
A = np.vstack([x, np.ones(len(x))]).T

m,c = np.linalg.lstsq(A, y, rcond=None)[0]
beta = np.array([c,m],dtype=object)
print('intercept and slope is',beta)
dosage = (34-c)/m

display_regression(beta)

def display_regression(beta):
    df = pd.DataFrame(trial_data.reshape(-1,2),columns=['x-valye','y-value'])
    x = df.iloc[:,0].values
    y = df.iloc[:,1].values
    df['predicted y-value'] = beta[0] + beta[1]*df['x-valye']
    plt.figure(figsize=(7,3))
    plt.scatter(x, y,s=50,marker ='*', color = "green")
    plt.plot(df.iloc[:,0],df.iloc[:,2].values,color='r')
    plt.xlabel("x-dosage in mg")
    plt.ylabel("y-increase in HDL in mg/dL")
    plt.title('Scatter plot with regression line')
    plt.show()

NameError: name 'trial_data' is not defined

In [ ]:
display_regression([33,10])

In [ ]:
import numpy.linalg as la

In [ ]:
A = np.vstack([x, np.ones(len(x))]).T

In [ ]:
m,c=np.linalg.lstsq(A, y, rcond=None)[0]

In [ ]:
x = df.iloc[:,0].values
y = df.iloc[:,1].values

In [ ]:
df = pd.DataFrame(trial_data.reshape(-1,2),columns=['x-valye','y-value'])

In [ ]:
beta = np.array([c,m],dtype=object)

In [ ]:
beta

In [ ]:
trial_data

In [2]:
from scipy import integrate

In [18]:
dataset = pd.read_csv('Social_Network_Ads.csv')
X = dataset.iloc[:,:5].values  
y = dataset.iloc[:, -1].values

In [19]:
X.shape

(400, 5)

In [20]:
X

array([[15624510, 'Male', 19, 19000, 0],
       [15810944, 'Male', 35, 20000, 0],
       [15668575, 'Female', 26, 43000, 0],
       ...,
       [15654296, 'Female', 50, 20000, 1],
       [15755018, 'Male', 36, 33000, 0],
       [15594041, 'Female', 49, 36000, 1]], dtype=object)

In [16]:
y.shape

(400,)

In [9]:
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0