# Q.1

In [1]:
rm = float(input('Enter value in Malaysian Ringgit: '))
rm_to_usd = (1*rm)/4.10 # as 1 USD = 4.10 MYR

# round: to round the decimal part upto 2 decimal places.
print('Value in USD is:',round(rm_to_usd,2))

Enter value in Malaysian Ringgit: 55
Value in USD is: 13.41

# Q.2

In [2]:
mylist = []

# take 7 integers from user
# one integer at a time.
for i in range(7):
    num = int(input('Enter the integer - {}: '.format(i+1)))
    mylist.append(num)
    
# sort the list and print in ascending order
print('\nValues in ascending order.')
for i in sorted(mylist):
    print(i,end=' ')

print()

# compute the total
total = 0
for i in mylist:
    
    # check if i is even and <= 50
    if i<=50 and i%2==0:
        total = total + i
print('\ntotal:',total)

Enter the integer - 1: 4
Enter the integer - 2: 5
Enter the integer - 3: 5
Enter the integer - 4: 4
Enter the integer - 5: 1
Enter the integer - 6: 1
Enter the integer - 7: 2

Values in ascending order.
1 1 2 4 4 5 5

total: 10

# Q.3

In [3]:
def sumValue(d):
    total = 0
    
    # go throuch each product code
    for ProductCode in d:
        
        # if product code startwith 'a' then add its value in total.
        if ProductCode.startswith('a'):
            total = total + d[ProductCode]
    return total

In [4]:
    d={'a001':100,'a002':10,'b001':1}
    sumValue(d)

110

In [5]:
d={'b001':5,'c002':10,'d001':15}
sumValue(d)

0

In [6]:
d={'a1':6,'a2':7,'a3':8}
sumValue(d)

21

In [7]:
# sample string
my_string = "EETN four 04"

# empty dictionary
my_dict = {}

# This loop will run from 0 to one less than the length of above string
# e.g. if the length is 10 then this loop will run from 0 to 9.

for i in range(0,len(my_string) -1):
    
    # save the current character pointed by index i
    current_char = my_string[i]

    # save the next character using index i+1
    next_char = my_string[i + 1]

    # add items in dictionary
    # the current character will become KEY of dictionary
    # and the next character will become VALUE of that KEY
    
    # Also, by the default nature of dictionary, if the KEY already exists in the dictionary
    # then the same KEY will not be added again into dictionary,
    # but their existing value will be updated
    
    my_dict[current_char] = next_char

# once above loop ends. we have Dictionary of key:value pairs.

# now loop through the dictionary KEYs and print the key,value pairs.
for key in my_dict:

    print(key + " -> " + my_dict[key])

E -> T
T -> N
N ->
  -> 0
f -> o
o -> u
u -> r
r ->
0 -> 4

# For better understanding

In [8]:
# sample string
my_string = "EETN four 04"

my_string

'EETN four 04'

In [9]:
# empty dictionary
my_dict = {}

my_dict

{}

In [10]:
len(my_string) # length

12

In [11]:
# produces a sequence of integers from 0 to 11, excluding 11
range(0,len(my_string) -1)

range(0, 11)

In [12]:
# for better understanding, put it inside list()

list(range(0,len(my_string) -1))

# hence for loop will run from 0 to 10

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
#my_string[i]

my_string

'EETN four 04'

In [14]:
i=2 # e.g. current index
current_char = my_string[2] # current character pointed by i

current_char

'T'

In [15]:
next_char = my_string[i + 1] # Next character pointed by i

next_char

'N'

In [16]:
# add items in dictionary
my_dict[current_char] = next_char

my_dict

{'T': 'N'}

In [17]:
# similarly,Try to add same key. suppose current character is 'T' and next character is 'P'

my_dict['T'] = 'P'

my_dict # Here KEY is same i.e. 'T' but value is updated with 'P'

{'T': 'P'}

In [18]:
my_dict = {} # create a fresh empty dictionary
for i in range(0,len(my_string) -1):
    current_char = my_string[i]
    next_char = my_string[i + 1]
    my_dict[current_char] = next_char

In [19]:
my_dict # display the dictionary

{'E': 'T',
 'T': 'N',
 'N': ' ',
 ' ': '0',
 'f': 'o',
 'o': 'u',
 'u': 'r',
 'r': ' ',
 '0': '4'}

In [20]:
print('Key','|','value')
print('----------')
for key in my_dict:

    print(key + " -> " + my_dict[key])

Key | value
----------
E -> T
T -> N
N ->
  -> 0
f -> o
o -> u
u -> r
r ->
0 -> 4

In [46]:
import re

In [50]:
text="<span>12</span><span>Betty</span><span>123</span>"

regex = '<span>[0-9](.+?)</span>'

In [51]:
re.findall(regex,text)

['2', '23']