In [1]:
import pandas as pd

In [2]:
book_data = pd.read_csv("books.csv", delimiter=",", index_col=0)
book_data

,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count
bookID,,,,,,,,,
1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling-Mary GrandPré,4.56,439785960,9.780000e+12,eng,652,1944099,26249
2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling-Mary GrandPré,4.49,439358078,9.780000e+12,eng,870,1996446,27613
3,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling-Mary GrandPré,4.47,439554934,9.780000e+12,eng,320,5629932,70390
4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.41,439554896,9.780000e+12,eng,352,6267,272
5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling-Mary GrandPré,4.55,043965548X,9.780000e+12,eng,435,2149872,33964
...,...,...,...,...,...,...,...,...,...
47699,M Is for Magic,Neil Gaiman-Teddy Kristiansen,3.82,61186422,9.780000e+12,eng,260,11317,1060
47700,Black Orchid,Neil Gaiman-Dave McKean,3.72,930289552,9.780000e+12,eng,160,8710,361
47701,InterWorld (InterWorld #1),Neil Gaiman-Michael Reaves,3.53,61238961,9.780000e+12,en-US,239,14334,1485
47708,The Faeries' Oracle,Brian Froud-Jessica Macbeth,4.43,743201116,9.780000e+12,eng,224,1550,38
47709,The World of The Dark Crystal,Brian Froud,4.29,1862056242,9.780000e+12,eng,132,3572,33

In [3]:
book_data.head()

,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count
bookID,,,,,,,,,
1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling-Mary GrandPré,4.56,439785960,9.780000e+12,eng,652,1944099,26249
2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling-Mary GrandPré,4.49,439358078,9.780000e+12,eng,870,1996446,27613
3,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling-Mary GrandPré,4.47,439554934,9.780000e+12,eng,320,5629932,70390
4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.41,439554896,9.780000e+12,eng,352,6267,272
5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling-Mary GrandPré,4.55,043965548X,9.780000e+12,eng,435,2149872,33964

In [4]:
book_data.shape

(13719, 9)

In [5]:
book_data.describe()

,average_rating,isbn13,num_pages,ratings_count,text_reviews_count
count,13719.000000,1.371900e+04,13719.000000,1.371900e+04,13719.000000
mean,3.930265,9.763320e+12,342.380713,1.775909e+04,533.439901
std,0.359432,3.986681e+11,252.618887,1.129371e+05,2528.565801
min,0.000000,8.987060e+09,0.000000,0.000000e+00,0.000000
25%,3.770000,9.780000e+12,196.000000,8.250000e+01,7.000000
50%,3.960000,9.780000e+12,301.000000,6.300000e+02,40.000000
75%,4.130000,9.780000e+12,421.000000,4.737000e+03,222.000000
max,5.000000,9.790000e+12,6576.000000,5.629932e+06,93619.000000

In [6]:
book_data['authors'].describe()

count               13719
unique               7605
top       Agatha Christie
freq                   69
Name: authors, dtype: object

In [7]:
import statsmodels.api as sm

# get x and y from book_data
y = book_data['average_rating']
x = book_data[['num_pages', 'ratings_count', 'text_reviews_count']]

# add constant
x = sm.add_constant(x)

# build OLS model
model = sm.OLS(y,x, missing='drop')
result = model.fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:         average_rating   R-squared:                       0.029
Model:                            OLS   Adj. R-squared:                  0.029
Method:                 Least Squares   F-statistic:                     138.5
Date:                Tue, 28 Sep 2021   Prob (F-statistic):           2.00e-88
Time:                        07:05:52   Log-Likelihood:                -5223.4
No. Observations:               13719   AIC:                         1.045e+04
Df Residuals:                   13715   BIC:                         1.048e+04
Df Model:                           3
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
const                  3.8471      0.005    751.539      0.000       3.837       3.857
num_pages              0.0002    1.2e-05     19.787      0.000       0.000       0.000
ratings_count       1.209e-07   5.31e-08      2.278      0.023    1.69e-08    2.25e-07
text_reviews_count -2.497e-07   2.37e-06     -0.105      0.916    -4.9e-06     4.4e-06
==============================================================================
Omnibus:                    11780.750   Durbin-Watson:                   1.610
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           840149.365
Skew:                          -3.748   Prob(JB):                         0.00
Kurtosis:                      40.597   Cond. No.                     1.94e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.94e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

- R-squared  value of 0.029 indicate that the model explains 2.9 percent of the variation in the dependent variable
- In general, higher r-squared indicates a better fit for the model and hence more association between dependent and independent variables. 

- Also according to p-value only num_pages is statistically significant because its p-value is equal to 0.000
- But, ratings_count and text_reviews_count are not statistically significant because its p-value (0.023 and 0.916 respectively) is greater than the usual significance level of 0.05
- Regression Coefficients indicates positive/negative correlation between each independent variable and the dependent variable.
- Hence text_reviews_count and average_rating is negatively correlated (-2.497e-07), although num_pages and ratings_count is positively correlated (weak correlation) with average_rating.

In [ ]:
['women', 'lying', 'in', 'ponds']