In [1]:
# import library to create dataframe
# dataframe represents data into tabular form
import pandas as pd

In [2]:
# read the data file
data = pd.read_csv('data.csv')

In [3]:
data # display the content of data

   Player  SINGLE  DOUBLE  TRIPLE  HOMERUN  ATBAT
0       1       5       3       1        2     70
1       2       3       0       2        1     15
2       3      10       5       3        0     30
3       4      12       5       9        2     40
4       5       6       9       2        4     34
5       6       9      10       1        6     45
6       7      20       3       5        1     80
7       8      40       0       1        2     20
8       9       7      12       0        2     40

In [4]:
# create a dataframe/Table like structure to store Player , BATTING AVERAGE and SLUGGING AVERAGE
df  = pd.DataFrame()

In [5]:
# assign all player from data to df
df['Player'] = data['Player']

In [6]:
# calculate BATTING AVERAGE using the formula given in question
# round(1.2536857,3) will retun 1.254 i.e it will round the value to 3 decimal places.
df['BATTING AVERAGE'] = round((data['SINGLE']+data['DOUBLE']+ data['TRIPLE']+data['HOMERUN']) / data['ATBAT'],3)

In [7]:
df # check the content of df

   Player  BATTING AVERAGE
0       1            0.157
1       2            0.400
2       3            0.600
3       4            0.700
4       5            0.618
5       6            0.578
6       7            0.362
7       8            2.150
8       9            0.525

In [8]:
# calculate SLUGGING AVERAGE using the formula given in question.
# multiply single by 1 ,double by 2,triple by 3 and homerun (i.e  four runs) by 4 to find the total run.
df['SLUGGING AVERAGE'] = round((1*data['SINGLE']+2*data['DOUBLE']+ 3*data['TRIPLE']+4*data['HOMERUN']) / data['ATBAT'],3)

In [9]:
df

   Player  BATTING AVERAGE  SLUGGING AVERAGE
0       1            0.157             0.314
1       2            0.400             0.867
2       3            0.600             0.967
3       4            0.700             1.425
4       5            0.618             1.353
5       6            0.578             1.244
6       7            0.362             0.562
7       8            2.150             2.550
8       9            0.525             0.975

In [10]:
# display without index
print(df.to_string(index=False))

 Player  BATTING AVERAGE  SLUGGING AVERAGE
      1            0.157             0.314
      2            0.400             0.867
      3            0.600             0.967
      4            0.700             1.425
      5            0.618             1.353
      6            0.578             1.244
      7            0.362             0.562
      8            2.150             2.550
      9            0.525             0.975

# Question

In [11]:
import pandas as pd

# function to compute score by single run
def single(data):
    return 1*data['SINGLE']
# function to compute score by double run
def double(data):
    return 2*data['DOUBLE']
# function to compute score by triple run
def triple(data):
    return 3*data['TRIPLE']
# function to compute score by honerun 
def homerun(data):
    return 4*data['HOMERUN']

def baseball_avg(filename):
    # read the data file
    data = pd.read_csv(filename)
    # create a dataframe/Table like structure to store Player , BATTING AVERAGE and SLUGGING AVERAGE
    df  = pd.DataFrame()
    # assign all player from data to df
    df['Player'] = data['Player']
    # calculate BATTING AVERAGE using the formula given in question
    # round(1.2536857,3) will retun 1.254 i.e it will round the value to 3 decimal places.
    df['BATTING AVERAGE'] = round((data['SINGLE']+data['DOUBLE']+ data['TRIPLE']+data['HOMERUN']) / data['ATBAT'],3)
    # calculate SLUGGING AVERAGE using the formula given in question.
    # add total run by single,double,triple and homerun to find the total score.
    df['SLUGGING AVERAGE'] = round((single(data) + double(data) + triple(data) + homerun(data)) / data['ATBAT'],3)
    # print df without index
    print(df.to_string(index=False))

In [12]:
baseball_avg('data.csv')

 Player  BATTING AVERAGE  SLUGGING AVERAGE
      1            0.157             0.314
      2            0.400             0.867
      3            0.600             0.967
      4            0.700             1.425
      5            0.618             1.353
      6            0.578             1.244
      7            0.362             0.562
      8            2.150             2.550
      9            0.525             0.975