# Data Preprocessing

In [1]:
# import library
import pandas as pd
import numpy as np

In [2]:
# read the dataset
df = pd.read_csv('bank_customer_churn.csv',delimiter=',')

In [3]:
df.head(5) # display top 5 rows

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
df.columns # display all columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [5]:
# selecting the desired column
df = df[['CreditScore', 'Geography','Gender', 'Age', 
         'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
         'IsActiveMember', 'EstimatedSalary','Exited']]

In [6]:
df.head(5) # display top 5 rows

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

- Here you can see that column Geography and Gender are categorical variable i.e value as a name/string
- Hence,You need to convert these categorical columns into numerical one using OneHot Encoding
- Reference : https://towardsdatascience.com/columntransformer-in-scikit-for-labelencoding-and-onehotencoding-in-machine-learning-c6255952731b

In [7]:
df['Geography'].value_counts() # check different values of Geography column

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [8]:
df['Gender'].value_counts() # check different values of Gender column

Male      5457
Female    4543
Name: Gender, dtype: int64

In [9]:
# define X and y
X = df.iloc[:,:-1].values # X is all the columns excluding the last one.
y = df.iloc[:, -1].values # y is last column

In [10]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [11]:
X[0] # checking the first row

array([619, 'France', 'Female', 42, 2, 0.0, 1, 1, 1, 101348.88],
      dtype=object)

In [12]:
# library required for one hot encoding
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
# [1] represents column number you want to encode
# Geography is the 1st column (index starting from zero) in X 
modify = ColumnTransformer([('encoder', OneHotEncoder(), [1])], remainder='passthrough')
X = np.array(modify.fit_transform(X))

In [13]:
X[0]

array([1.0, 0.0, 0.0, 619, 'Female', 42, 2, 0.0, 1, 1, 1, 101348.88],
      dtype=object)

In [14]:
# [4] represents column number you want to encode
# Now, Gender is the 4th column (index starting from zero) in X
modify = ColumnTransformer([('encoder', OneHotEncoder(), [4])], remainder='passthrough')
X = np.array(modify.fit_transform(X))

In [15]:
X[0]

array([1.0, 0.0, 1.0, 0.0, 0.0, 619, 42, 2, 0.0, 1, 1, 1, 101348.88],
      dtype=object)

In [16]:
X # Display X

array([[1.0, 0.0, 1.0, ..., 1, 1, 101348.88],
       [1.0, 0.0, 0.0, ..., 0, 1, 112542.58],
       [1.0, 0.0, 1.0, ..., 1, 0, 113931.57],
       ...,
       [1.0, 0.0, 1.0, ..., 0, 1, 42085.58],
       [0.0, 1.0, 0.0, ..., 1, 0, 92888.52],
       [1.0, 0.0, 1.0, ..., 1, 0, 38190.78]], dtype=object)

In [17]:
y # Display y

array([1, 0, 1, ..., 1, 1, 0], dtype=int64)

# 1. Dataset splitting

In [18]:
# split the data into the Training and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 42)

In [19]:
len(X_train) # number of rows in training set

8000

In [20]:
len(X_test)  # number of rows in test set

2000

# 2. Logistic Regression model

In [21]:
# Normalize the data for better performance.
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [22]:
# Build Logistic Regression model on Training set
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(random_state = 42)
model.fit(X_train, y_train)

LogisticRegression(random_state=42)

In [23]:
# Predict on Test set
y_pred = model.predict(X_test)

In [24]:
# Confusion Matrix
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score
conf_matrix = confusion_matrix(y_test, y_pred)
conf_matrix

array([[1550,   57],
       [ 318,   75]], dtype=int64)

In [25]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.83      0.96      0.89      1607
           1       0.57      0.19      0.29       393

    accuracy                           0.81      2000
   macro avg       0.70      0.58      0.59      2000
weighted avg       0.78      0.81      0.77      2000

In [26]:
accuracy_score(y_test, y_pred) # accuracy

0.8125

# 3. Decision Tree Classification model

In [27]:
# Build Decision Tree Classification model on Training set
from sklearn.tree import DecisionTreeClassifier
model_dt = DecisionTreeClassifier(criterion = 'entropy', random_state = 42)
model_dt.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', random_state=42)

In [28]:
# Predict on Test set
y_pred = model_dt.predict(X_test)

In [29]:
# Confusion Matrix
conf_matrix = confusion_matrix(y_test, y_pred)
conf_matrix

array([[1381,  226],
       [ 171,  222]], dtype=int64)

In [30]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.89      0.86      0.87      1607
           1       0.50      0.56      0.53       393

    accuracy                           0.80      2000
   macro avg       0.69      0.71      0.70      2000
weighted avg       0.81      0.80      0.81      2000

In [31]:
accuracy_score(y_test, y_pred) # accuracy

0.8015

# 4

- Logistic Regression model is preferred for the given dataset because of producing high accuracy (0.8125) result.