In [36]:
import numpy as np
import pandas as pd

# read a dummy dataset
data = pd.read_csv('Default.csv')

In [37]:
data # display dummy dataset

  default student  balance  income
0     yes       A      222    5000
1      no       B      120    3000
2      no       C      200    1254
3     yes       D      620    2000
4      no       E      352    5478
5     yes       F      324    1254
6     yes       G      125    1254
7      no       H      500    5621
8      no       I      974    1254
9     yes       J      120    1254

In [38]:
# factorize method is used to obtain a numeric representation of an array
# i.e yes will be encoded as 0 and no will be as 1.
# Hence, in default2 column 0 means yes and 1 means no
data['default2']  = data.default.factorize()[0]

# reshape transform an array containing the same data but with a new shape,
# i.e reshape(-1,1) will transform an array into as many rows (hence ,-1 for rows) such that the given array
# can be fit into a single column.By giving -1 ,its responsibility of numpy to decide 
# how many such rows are required
X_balance = data.balance.values.reshape(-1,1)
y = data.default2.values.reshape(-1,1)

In [39]:
# train test split
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X_balance,y,test_size=0.5,random_state=1)

# Question 1

In [40]:
y_train

array([[0],
       [1],
       [1],
       [1],
       [0]], dtype=int64)

In [41]:
# positive default means default='yes' i.e in encoded form default=0
y_train==0 
# True means that value is matching the above condition.

array([[ True],
       [False],
       [False],
       [False],
       [ True]])

In [42]:
y_train[y_train==0] # displaying the part of array where true conditions was satisfied.

array([0, 0], dtype=int64)

In [43]:
len(y_train[y_train==0]) # find length of that array,this is the number of positive default

2

In [44]:
y_test

array([[1],
       [0],
       [0],
       [1],
       [0]], dtype=int64)

In [45]:
len(y_test[y_test==0]) # the number of positive default for test set

3