In [1]:
# import the library
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

# read the dataset
df_dgs = pd.read_csv('DGS10.csv')
df_sp = pd.read_csv('SP500.csv')

In [2]:
# display few rows
df_dgs.head()

         DATE DGS10
0  2012-01-03  1.97
1  2012-01-04  2.00
2  2012-01-05  2.02
3  2012-01-06  1.98
4  2012-01-09  1.98

In [3]:
# display few rows
df_sp.head()

         DATE    SP500
0  2012-01-03  1277.06
1  2012-01-04  1277.30
2  2012-01-05  1281.06
3  2012-01-06  1277.81
4  2012-01-09  1280.70

In [4]:
# remove missing rows
df_sp = df_sp[df_sp['SP500']!='.']
df_dgs = df_dgs[df_dgs['DGS10']!='.']

# keep only the required column
df_sp = df_sp['SP500']
df_dgs = df_dgs['DGS10']

In [5]:
# check the datatype
df_sp.dtypes

dtype('O')

In [6]:
# check the datatype
df_dgs.dtypes

dtype('O')

In [7]:
# change the data type to float
df_sp = df_sp.astype(float)
df_dgs= df_dgs.astype(float)

# Mean

In [8]:
# 10-Year Treasury Constant Maturity Rate (DGS10)
print(round(df_dgs.mean(),2))

2.1

In [9]:
# S&P 500 (SP500)
print(round(df_sp.mean(),2))

2271.67

# standard deviation

In [10]:
# 10-Year Treasury Constant Maturity Rate (DGS10)
print(round(df_dgs.std(),2))

0.6

In [11]:
# S&P 500 (SP500)
print(round(df_sp.std(),2))

589.29

# differenced series

In [12]:
# S&P 500 (SP500)
df_sp_diff = df_sp.diff(periods=1)
df_sp_diff.dropna(inplace=True)
df_sp_diff

1        0.24
2        3.76
3       -3.25
4        2.89
5       11.38
        ...
2342    13.05
2344    32.30
2345    -8.32
2346     5.00
2347    24.03
Name: SP500, Length: 2264, dtype: float64

In [13]:
# 10-Year Treasury Constant Maturity Rate (DGS10)
df_dgs_diff = df_dgs.diff(periods=1)
df_dgs_diff.dropna(inplace=True)
df_dgs_diff

1       0.03
2       0.02
3      -0.04
4       0.00
5       0.02
        ...
2342   -0.02
2344    0.00
2345    0.00
2346   -0.01
2347    0.00
Name: DGS10, Length: 2250, dtype: float64

# mean

In [14]:
# 10-Year Treasury Constant Maturity Rate (DGS10)
print(df_dgs_diff.mean())

-0.00046222222222222205

In [15]:
# S&P 500 (SP500)
print(round(df_sp_diff.mean(),2))

1.09

# standard deviation

In [16]:
# 10-Year Treasury Constant Maturity Rate (DGS10)
print(round(df_dgs_diff.std(),2))

0.04

In [17]:
# S&P 500 (SP500)
print(round(df_sp_diff.std(),2))

26.4

# covariance

- Series

In [18]:
print(round(df_sp.cov(df_dgs),2))

-77.3

- differenced series

In [19]:
print(round(df_sp_diff.cov(df_dgs_diff),2))

0.43