# List

In [1]:
# list is a data structure in python to store multiple items in a single variable
# It is represented by [], and all the elements inside [] is known as element of list.

In [2]:
# store a list in some variable x
x = [3,4,5,7,1,9,44]
print(x)

[3, 4, 5, 7, 1, 9, 44]

In [3]:
# list can hold different types of element
y = ['Hello',33,44.56,'World']
print(y)

['Hello', 33, 44.56, 'World']

In [4]:
# accessing elements of list
print('Element at index 0 in list x is : ',x[0])
print('Element at index 0 in list y is : ',y[0])
print('Element at index 3 in list y is : ',y[3])

Element at index 0 in list x is :  3
Element at index 0 in list y is :  Hello
Element at index 3 in list y is :  World

In [5]:
# list slicing: cutting part of the list and return the same
x[:3] # return everything till 3rd index,excluding the element at index 3rd.

[3, 4, 5]

In [6]:
x[:] # return everything

[3, 4, 5, 7, 1, 9, 44]

In [7]:
x[3:] # return everything from 3rd index till end of the list

[7, 1, 9, 44]

In [8]:
x[2:5] # return everything from 2nd index till 5th index ,excluding the element at index 5th.

[5, 7, 1]

In [9]:
# concatenate two list
x + y

[3, 4, 5, 7, 1, 9, 44, 'Hello', 33, 44.56, 'World']

In [10]:
# Make the list triple
print(y*3) # element of y will be repeated 3 times.

['Hello', 33, 44.56, 'World', 'Hello', 33, 44.56, 'World', 'Hello', 33, 44.56, 'World']

In [11]:
# append element in list
# it will append element in the end
x.append('USA')

In [12]:
print(x)

[3, 4, 5, 7, 1, 9, 44, 'USA']

In [13]:
# insert: insert the element at a given index
# Here insert 'US' at index 1.
x.insert(1,'US')

In [14]:
print(x)

[3, 'US', 4, 5, 7, 1, 9, 44, 'USA']

# Dictionary

In [15]:
# dictionary is used to hold data in the key-value pair

In [16]:
# define a dictionary
# create a dictionary using {} and key value pair is separated by :
mydict = {'key0':'value0',
         'key1':'value1',
         'key2':'value2'}

In [17]:
mydict

{'key0': 'value0', 'key1': 'value1', 'key2': 'value2'}

In [18]:
# accessing keys
mydict.keys()

dict_keys(['key0', 'key1', 'key2'])

In [19]:
# accessing only values
mydict.values()

dict_values(['value0', 'value1', 'value2'])

In [20]:
# accessing key:value in paired form
mydict.items()

dict_items([('key0', 'value0'), ('key1', 'value1'), ('key2', 'value2')])

In [21]:
# fetch value using key
mydict['key1']

'value1'

In [22]:
mydict['key0']

'value0'

In [23]:
# accessing key and value in for loop
for key,value in mydict.items():
    print(key,' ',value)

key0   value0
key1   value1
key2   value2

In [24]:
# accessing key and value in for loop
# you can use any variable to access key and value.
for a,b in mydict.items():
    print(a,' ',b)

key0   value0
key1   value1
key2   value2

In [25]:
# define a empty dictionary
mydict1 = {}

In [26]:
mydict1

{}

In [27]:
# now add element into it
mydict1['newkey0'] = 'newvalue0'
mydict1['newkey1'] = 'newvalue1'

In [28]:
mydict1

{'newkey0': 'newvalue0', 'newkey1': 'newvalue1'}

In [29]:
salary ={'Jan':35000,'Feb':22000,'Mar':45000,'Apr':12000}

In [30]:
salary['Mar']

45000

In [31]:
salary['Apr']

12000