# Part A

In [1]:
# 1

# Read only file
file = open('test.txt','r')
file.close()

# Write only file
file = open('test.txt','w')
file.close()

# Read and Write to file
file = open('test.txt','r+')
file.close()

In [2]:
# 2

# Open a file in write only mode
file = open('test1.txt','w')

# Data that you want to write
mystring = 'This my data, String that you want to write into file'

# Now, write to file
file.write(mystring)

# After finish writing, close the file
file.close()

In [3]:
# 3

# Open a file in write only mode
file = open('test2.txt','w')

# string that you want to write to file
mystring = 'This is string data'

# Now, write to file
file.write(mystring)

# Integer output
integer_num = 125

# write a newline
file.write("\n")

file.write("This is integer: {}".format(integer_num))

# real number output
real_num = 125.646874

# write a newline
file.write("\n")

# .3f means 3 decimal places
file.write("This is real number {:.3f}".format(real_num))

# After finish writing, close the file
file.close()

In [4]:
import numpy as np    
from sklearn.linear_model import LogisticRegression

x1 = np.random.randn(100)
x2 = 4*np.random.randn(100)
x3 = 0.5*np.random.randn(100)
y = (3 + x1 + x2 + x3 + 0.2*np.random.randn()) > 0
X = np.column_stack([x1, x2, x3])

m = LogisticRegression()
m.fit(X, y)

# The estimated coefficients will all be around 1:
print(m.coef_)

# Those values, however, will show that the second parameter
# is more influential
print(np.std(X, 0)*m.coef_)

[[0.95216877 1.7730673  0.86886561]]
[[0.85133955 7.33774736 0.40617945]]

In [ ]:
Bank_Personal_Loan_Modelling.xlsx

In [5]:
import pandas as pd

In [18]:
df = pd.read_excel('Bank_Personal_Loan_Modelling.xlsx',sheet_name='Data')

In [19]:
df

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,29,3,40,92697,1,1.9,3,0,0,0,0,1,0
4996,4997,30,4,15,92037,4,0.4,1,85,0,0,0,1,0
4997,4998,63,39,24,93023,2,0.3,3,0,0,0,0,0,0
4998,4999,65,40,49,90034,3,0.5,2,0,0,0,0,1,0
4999,5000,28,4,83,92612,3,0.8,1,0,0,0,0,1,1

In [20]:
y = df['Personal Loan'].values
X = df.drop('Personal Loan',axis=1).values
features = df.drop('Personal Loan',axis=1)

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [23]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [30]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 0)
# classifier.fit(X_train, y_train)

In [35]:
from sklearn.feature_selection import SelectFromModel

In [36]:
smf  = SelectFromModel(classifier, threshold=-np.inf,max_features=3)
smf.fit(X_train, y_train)

SelectFromModel(estimator=LogisticRegression(random_state=0), max_features=3,
                threshold=-inf)

In [38]:
indx = smf.get_support()

In [50]:
features.columns[indx]

Index(['Income', 'Education', 'CD Account'], dtype='object')