In [38]:
import pandas as pd

In [39]:
xls = pd.ExcelFile('imdb.xlsx')
df = xls.parse('imdb')

In [40]:
df

,movie_title,director_id,country_id,content_rating,title_year,imdb_score,gross,duration
0,The Shawshank RedemptionÊ,34,1,R,1994,9.3,28341469,142
1,The GodfatherÊ,33,1,R,1972,9.2,134821952,175
2,The Dark KnightÊ,16,1,PG-13,2008,9.0,533316061,152
3,The Godfather: Part IIÊ,33,1,R,1974,9.0,57300000,220
4,The Lord of the Rings: The Return of the KingÊ,83,1,PG-13,2003,8.9,377019252,192
...,...,...,...,...,...,...,...,...
173,The Perks of Being a WallflowerÊ,101,1,PG-13,2012,8.0,17738570,102
174,BrazilÊ,106,8,R,1985,8.0,9929000,142
175,Big FishÊ,108,1,PG-13,2003,8.0,66257002,125
176,True RomanceÊ,112,1,R,1993,8.0,12281500,121
177,PersepolisÊ,114,7,PG-13,2007,8.0,4443403,89

In [41]:
count = df['director_id'].value_counts()

In [42]:
count

16     7
71     6
85     6
103    5
90     4
      ..
43     1
42     1
41     1
39     1
117    1
Name: director_id, Length: 117, dtype: int64

In [43]:
import pandas as pd



xls = pd.ExcelFile('imdb.xlsx')

df = xls.parse('imdb')

df_directors = xls.parse('directors')

df_countries = xls.parse('countries')



print("Data Loading Finished.")



df = pd.merge(left=df, right=df_countries, how="inner", left_on="country_id", right_on="id")

df = pd.merge(left=df, right=df_directors, how="inner", left_on="director_id", right_on="id") #join sheets



df['movie_title'] = df['movie_title'].str.replace('Ê','') #remove character at the end

Data Loading Finished.

In [44]:
item_counts = df['director_name'].value_counts()

In [45]:
item_counts

Christopher Nolan    7
Quentin Tarantino    6
Martin Scorsese      6
Steven Spielberg     5
Ridley Scott         4
                    ..
Jose Padilha         1
Stephen Chbosky      1
George Lucas         1
Roman Polanski       1
Frank Miller         1
Name: director_name, Length: 117, dtype: int64

In [46]:
director_with_most = item_counts[:1]

In [50]:
type(director_with_most)

pandas.core.series.Series

In [51]:
director_with_most

Christopher Nolan    7
Name: director_name, dtype: int64

In [52]:
print(director_with_most)

Christopher Nolan    7
Name: director_name, dtype: int64