In [1]:
# import the library
import pandas as pd

In [2]:
# data source : https://archive.ics.uci.edu/ml/machine-learning-databases/car/car.data
# download car.data and keep it in current working directory.

# read the dataset
dataframe = pd.read_csv('car.data',names=['buying','maint','doors','persons','lug_boot','safety','class'])

# display few rows
dataframe.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [3]:
dataframe.isna().any() # check for missing values.

buying      False
maint       False
doors       False
persons     False
lug_boot    False
safety      False
class       False
dtype: bool

- Hence,There are no missing values in the dataset

In [4]:
#encode the values into numeric labels

dataframe['buying'],_ = pd.factorize(dataframe['buying'])
dataframe['maint'],_ = pd.factorize(dataframe['maint'])
dataframe['doors'],_ = pd.factorize(dataframe['doors'])
dataframe['persons'],_ = pd.factorize(dataframe['persons'])
dataframe['lug_boot'],_ = pd.factorize(dataframe['lug_boot'])
dataframe['safety'],_ = pd.factorize(dataframe['safety'])
dataframe['class'],class_names = pd.factorize(dataframe['class'])

# display few rows.
dataframe.head()

   buying  maint  doors  persons  lug_boot  safety  class
0       0      0      0        0         0       0      0
1       0      0      0        0         0       1      0
2       0      0      0        0         0       2      0
3       0      0      0        0         1       0      0
4       0      0      0        0         1       1      0

In [5]:
dataframe['class'].unique() # hence select k=4 as number of cluster

array([0, 1, 2, 3], dtype=int64)

In [6]:
# Choose feature attribute and target attribute
X = dataframe.iloc[:,:-1]

true_label = dataframe.iloc[:,-1] # used to validate the model performance.

In [7]:
from sklearn.cluster import KMeans

# build kmeans model
model = KMeans(n_clusters=4,random_state=42)
model.fit(X) # fit the model on X

KMeans(n_clusters=4, random_state=42)

In [8]:
predicted_labels = model.labels_

In [9]:
correct_labels = sum(true_label == predicted_labels)
print("{} out of {} samples were correctly labeled.".format(correct_labels, len(true_label)))

546 out of 1728 samples were correctly labeled.