# Q.1.1

In [1]:
# import and load the dataset
import pandas as pd
url = 'https://www.openml.org/data/get_csv/3640/dataset_2189_lowbwt.arff'
data = pd.read_csv(url)
print(data)

     LOW  AGE  LWT  RACE  SMOKE  PTL  HT  UI  FTV  class
0      0   19  182     2      0    0   0   1    0   2523
1      0   33  155     3      0    0   0   0    3   2551
2      0   20  105     1      1    0   0   0    1   2557
3      0   21  108     1      1    0   0   1    2   2594
4      0   18  107     1      1    0   0   1    0   2600
..   ...  ...  ...   ...    ...  ...  ..  ..  ...    ...
184    1   28   95     1      1    0   0   0    2   2466
185    1   14  100     3      0    0   0   0    2   2495
186    1   23   94     3      1    0   0   0    0   2495
187    1   17  142     2      0    0   1   0    0   2495
188    1   21  130     1      1    0   1   0    3   2495

[189 rows x 10 columns]

# Q.1.2

In [2]:
data.head() # display few rows.

   LOW  AGE  LWT  RACE  SMOKE  PTL  HT  UI  FTV  class
0    0   19  182     2      0    0   0   1    0   2523
1    0   33  155     3      0    0   0   0    3   2551
2    0   20  105     1      1    0   0   0    1   2557
3    0   21  108     1      1    0   0   1    2   2594
4    0   18  107     1      1    0   0   1    0   2600

In [3]:
# get the 'class' column provided 'SMOKE' and 'LOW' column value as 1
df_new = data[(data['SMOKE']==1) & (data['LOW']==1)][['class']]

In [4]:
df_new.head() # display few rows.

     class
130    709
132   1135
139   1790
140   1818
141   1885

In [5]:
# print the dataframe
print(df_new)

     class
130    709
132   1135
139   1790
140   1818
141   1885
144   1928
145   1928
147   1936
152   2084
153   2084
155   2125
156   2126
157   2187
159   2211
160   2225
164   2296
165   2296
168   2353
170   2367
171   2381
172   2381
175   2410
176   2410
177   2414
178   2424
182   2466
183   2466
184   2466
186   2495
188   2495