In [4]:
# define the metadata for testing
metadata1 = [{'asin': 'B00FA5KKA',
  'category': ['kindle store', 'kindle ebooks', 'Science Fiction & Fantasy']},
 {'asin': 'B00FA5M3K',
  'category': ['kindle store','kindle ebooks','engineering & transportation','</span>']},
 {'asin': 'B00FA5KX2',
  'category': ['kindle store', 'kindle ebooks', 'Business & Money']},
 {'asin': 'B00FA5L2C',
  'category': ['kindle store', 'kindle ebooks', 'Business &amp; Money']},           
{'asin': 'B00FC2LCS',
  'category': ['kindle store', 'kindle ebooks']},
{'asin': 'B001CBBL7M',
  'category': ['kindle store', 'kindle ebooks', '']}]


metadata2 =[{'ados': 'osshthan', 'asin': 'ostor', 'category': ['Kindle Store', 'Kindle eBooks', 'ndime & ang']}, 
            {'ados': 'apandoxa', 'asin': 'twi', 'category': ['Kindle Store', 'Kindle eBooks', 'he']}, 
            {'ados': 'mbuperne', 'asin': 'wondouti', 'category': ['Kindle Store', 'Kindle eBooks', 'fas']}, 
            {'ados': 'be', 'asin': 'we', 'category': ['Kindle Store', 'Kindle eBooks', '']}]

In [12]:
def metadata_to_df(metadata):
    # import library for Dataframe creation
    import pandas as pd
    
    # Fetch the key and value pair for 'asin','category' so as to create dataframe
    metadata = [dict((k, dictionary[k]) for k in ('asin','category'))  
            for dictionary in metadata]
    
    # create a Dataframe df_meta using data as dictionary
    df_meta = pd.DataFrame(metadata)
    
    # adding new column namly genre, and assign to it the third element 
    # (consider 1st element at position 1) of category value.
    # if third element is unavailable then assign '</span>' and later delete those unnecessary rows.
    
    df_meta['genre'] = df_meta.category.map(lambda x: x[2] if len(x)>2 else '')
    df_meta = df_meta[df_meta.genre != ''] # remove rows with '</span>' as genre value.
    
    # substitute '&amp;' with '&'
    df_meta['genre'] = df_meta['genre'].str.replace('&amp;','&')
    
    # remove category column from df_meta as it is of no use now.
    df_meta.drop(columns=['category'],inplace=True)
    
    # rename the column
    df_meta.columns = ['ebook','genre']
    
    # return the dataframe df_meta
    return df_meta

In [32]:
import pandas as pd
    
# Fetch the key and value pair for 'asin','category' so as to create dataframe
metadata = [dict((k, dictionary[k]) for k in ('asin','category'))  
        for dictionary in metadata2]

# create a Dataframe df_meta using data as dictionary
df_meta = pd.DataFrame(metadata)

In [33]:
df_meta

       asin                                    category
0     ostor  [Kindle Store, Kindle eBooks, ndime & ang]
1       twi           [Kindle Store, Kindle eBooks, he]
2  wondouti          [Kindle Store, Kindle eBooks, fas]
3        we             [Kindle Store, Kindle eBooks, ]

In [34]:
len(df_meta['category'])

4

In [36]:
df_meta['genre']=df_meta.category.map(lambda x: x[2] if len(x)>2 and len(x[2])!=0 else float("NaN"))
df_meta.dropna(inplace=True)

In [30]:
df_meta.dropna(inplace=True)

In [38]:
df_meta.drop(columns=['category'],inplace=True)
df_meta.columns = ['ebook','genre']

In [39]:
df_meta

      ebook        genre
0     ostor  ndime & ang
1       twi           he
2  wondouti          fas

In [ ]:
df['color'] = np.where(df['category'][]=='Z', 'green', 'red')

In [13]:
metadata_to_df(metadata1) # calling the function with metadata

       ebook                         genre
0  B00FA5KKA     Science Fiction & Fantasy
1  B00FA5M3K  engineering & transportation
2  B00FA5KX2              Business & Money
3  B00FA5L2C              Business & Money

In [14]:
metadata_to_df(metadata2)

      ebook        genre
0     ostor  ndime & ang
1       twi           he
2  wondouti          fas