In [1]:
# import library
import pandas as pd
import statsmodels.api as sm

In [2]:
# load the dataset and create dataframe
df = pd.read_csv('fastfood.csv')

# get the necessary columns for calories prediction.
df = df[['Age', 'Duration', 'Credit amount']]

In [3]:
df # display the data

     Age  Duration  Credit amount
0     67         6           1169
1     22        48           5951
2     49        12           2096
3     45        42           7882
4     53        24           4870
..   ...       ...            ...
995   31        12           1736
996   40        30           3857
997   38        12            804
998   23        45           1845
999   27        45           4576

[1000 rows x 3 columns]

In [4]:
# rename the column 'Credit amount' to 'Credit_amount'
df.rename(columns={"Credit amount": "Credit_amount"},inplace=True)

In [5]:
# get X and Y
X = df[['Age', 'Duration']].values
Y = df[['Credit_amount']].values

In [6]:
# add constant
X = sm.add_constant(X)

# Build and fit Ordinary Least Squares model on X and Y
sm_model = sm.OLS(Y,X)
model = sm_model.fit()

In [7]:
print(model.params.round(2))

print(model.rsquared.round(2))

[-284.99   13.74  146.77]
0.39

In [2]:
# In[1]:

# import library
import pandas as pd
import statsmodels.api as sm

# In[2]:

# load the dataset and create dataframe
df = pd.read_csv('fastfood.csv')

# get the necessary columns for calories prediction.
df = df[['total_fat', 'sat_fat', 'cholesterol', 'sodium','calories']]

# In[3]:

df # display the data

# In[4]:

# get X and Y
X = df[['total_fat', 'sat_fat', 'cholesterol', 'sodium']].values
Y = df[['calories']].values

# In[5]:

# add constant
X = sm.add_constant(X)

# Build and fit Ordinary Least Squares model on X and Y
sm_model = sm.OLS(Y,X)
model = sm_model.fit()

# In[6]:

In [3]:
print(model.mse_total.round(2))

print(model.rsquared.round(2))

print(model.params.round(2))

print(model.pvalues.round(2))

79770.18
0.9
[71.73  9.1   0.6   0.21  0.16]
[0.   0.   0.64 0.07 0.  ]

In [4]:
model.params.round(2)

array([71.73,  9.1 ,  0.6 ,  0.21,  0.16])

In [ ]:
Expected output Expected output 
79770.18 
0.9 .
{0,}71.73 total_fat 9.10 sat_fat 0.60 cholesterol 0.21 sodium 0.16 dtype: float64 .
{0,}0.00 total_fat 0.00 sat_fat 0.64 cholesterol 0.07 sodium 0.00 dtype: float64

In [30]:
print('Enter the first submission:')
x = input()
print('Enter the second submission:')
y = input()
my_x_dict={}
my_y_dict={}
for i in x.split(' '):
    if i in my_x_dict:
        my_x_dict[i] = my_x_dict[i] + 1
    else:
        my_x_dict[i] = 1
    
for i in y.split(' '):
    if i in my_y_dict:
        my_y_dict[i] = my_y_dict[i] + 1
    else:
        my_y_dict[i] = 1

unique_word = []
common_word = []

unique_word = [i.lower() for i in my_x_dict.keys()]

for i in my_y_dict.keys():
    if i.lower() not in unique_word:
        unique_word.append(i.lower())
    else:
        common_word.append(i.lower())
similarity_score = len(common_word)/len(unique_word)
print('The similarity score between the two is: {}%'.format(round(similarity_score*100,2)))

Enter the first submission:
COMP101 is an interesting subject and it has been easy
Enter the second submission:
COMP101 and COMP301 have always been interesting and easy
The similarity score between the two is: 38.46%