In [1]:
# import library
import pandas as pd
import numpy as np

# 1

In [2]:
# read the dataset
df_train = pd.read_csv('Loans_Training.txt')
df_test = pd.read_csv('Loans_Test.txt')

In [3]:
df_train.head() # display first few rows of training data

  Approval  Debt-to-Income Ratio  FICO Score  Request Amount  Interest
0        F                   0.0         397            1000     450.0
1        F                   0.0         403             500     225.0
2        F                   0.0         408            1000     450.0
3        F                   0.0         408            2000     900.0
4        F                   0.0         411            5000    2250.0

In [4]:
df_test.head() # display first few rows of test data

  Approval  Debt-to-Income Ratio  FICO Score  Request Amount  Interest
0        F                   0.0         413            2000     900.0
1        F                   0.0         449            1000     450.0
2        F                   0.0         454            6000    2700.0
3        F                   0.0         456            1000     450.0
4        F                   0.0         457            1000     450.0

In [5]:
# convert T and F of Approval to 1 and 0

df_train['Approval'] = np.where(df_train['Approval']=='F',0,1)
df_test['Approval'] = np.where(df_test['Approval']=='F',0,1)

In [6]:
df_train # display the training data

        Approval  Debt-to-Income Ratio  FICO Score  Request Amount  Interest
0              0                  0.00         397            1000     450.0
1              0                  0.00         403             500     225.0
2              0                  0.00         408            1000     450.0
3              0                  0.00         408            2000     900.0
4              0                  0.00         411            5000    2250.0
...          ...                   ...         ...             ...       ...
150297         1                  0.38         709           19000    8550.0
150298         1                  0.38         722           17000    7650.0
150299         1                  0.38         747           11000    4950.0
150300         1                  0.39         679           10000    4500.0
150301         1                  0.39         769            7000    3150.0

[150302 rows x 5 columns]

In [7]:
df_test # display the test data

       Approval  Debt-to-Income Ratio  FICO Score  Request Amount  Interest
0             0                  0.00         413            2000     900.0
1             0                  0.00         449            1000     450.0
2             0                  0.00         454            6000    2700.0
3             0                  0.00         456            1000     450.0
4             0                  0.00         457            1000     450.0
...         ...                   ...         ...             ...       ...
49693         1                  0.38         662           14000    6300.0
49694         1                  0.38         664           16000    7200.0
49695         1                  0.38         676            4000    1800.0
49696         1                  0.38         680            6000    2700.0
49697         1                  0.39         662             500     225.0

[49698 rows x 5 columns]

In [8]:
# get the x and y for training data
X_train = df_train.iloc[:, [1, 2, 3]].values
y_train = df_train.iloc[:, 0].values

# get the x and y for test data
X_test = df_test.iloc[:, [1, 2, 3]].values
y_test = df_test.iloc[:, 0].values

In [9]:
# standardizing the training and test data
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [10]:
# build the random forest classifier model
# criterion = 'gini' to get the best split

from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 10, criterion = 'gini', random_state = 0)
classifier.fit(X_train, y_train)

RandomForestClassifier(n_estimators=10, random_state=0)

In [11]:
# predicting on training data
y_train_pred = classifier.predict(X_train)

In [12]:
y_train_pred

array([0, 0, 0, ..., 1, 0, 1])

# 2

In [13]:
# predicting on test data
y_test_pred = classifier.predict(X_test)

In [14]:
y_test_pred

array([0, 0, 0, ..., 0, 0, 0])

In [15]:
# to get the accuracy
from sklearn.metrics import accuracy_score

In [16]:
accuracy_score(y_train,y_train_pred) # accuracy on training data

0.9355298000026613

In [17]:
accuracy_score(y_test,y_test_pred) # accuracy on test data

0.8071350959797174

# Table for Training prediction

In [18]:
pd.DataFrame({'y_train':y_train,'y_train_pred':y_train_pred})

        y_train  y_train_pred
0             0             0
1             0             0
2             0             0
3             0             0
4             0             0
...         ...           ...
150297        1             1
150298        1             1
150299        1             1
150300        1             0
150301        1             1

[150302 rows x 2 columns]

# Table for Test prediction

In [19]:
pd.DataFrame({'y_test':y_test,'y_test_pred':y_test_pred})

       y_test  y_test_pred
0           0            0
1           0            0
2           0            0
3           0            0
4           0            0
...       ...          ...
49693       1            0
49694       1            0
49695       1            0
49696       1            0
49697       1            0

[49698 rows x 2 columns]

- We are getting more accuracy on training dataset with accuracy as 93.55%,Although accuracy on tets data is only 80.71%