In [1]:
# import library
import pandas as pd

In [2]:
# read the dataset
df = pd.read_csv('dt.csv')

In [3]:
# display the content of dataset
df

     LOG_ID  HOUSE_ID     CONDATE   CONHOUR  ENERGY_READING  FLAG
0  10201876         1  2015-08-26  15:32:30     364701.5257     0
1  10201877         1  2015-08-26  15:32:40     364701.5282     1

In [4]:
# divide the file based on FLAG i.e. 0 and 1

df_0 = df[df['FLAG']==0]
df_1 = df[df['FLAG']==1]

In [5]:
# display data containing FLAG as 0
df_0

     LOG_ID  HOUSE_ID     CONDATE   CONHOUR  ENERGY_READING  FLAG
0  10201876         1  2015-08-26  15:32:30     364701.5257     0

In [6]:
# display data containing FLAG as 1
df_1

     LOG_ID  HOUSE_ID     CONDATE   CONHOUR  ENERGY_READING  FLAG
1  10201877         1  2015-08-26  15:32:40     364701.5282     1

In [7]:
# Save both df_0 and df_1 to separate file

df_0.to_csv('file_with_flag0.csv')

df_1.to_csv('file_with_flag1.csv')