In [2]:
import numpy as np
import pandas as pd

In [3]:
pd.Series()

<ipython-input-3-fa15c544da3b>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pd.Series()

Series([], dtype: float64)

In [4]:
pd.period_range(start='2017-01-01', end='2018-01-01', freq='M')

PeriodIndex(['2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06',
             '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12',
             '2018-01'],
            dtype='period[M]', freq='M')

In [5]:
pd.Period('2021-01')

Period('2021-01', 'M')

# Q.5

In [28]:
#Import necessary library for creating series
import pandas as pd

In [29]:
# index as a list of periods
index = [pd.Period('2021-01'),
         pd.Period('2021-03'),
         pd.Period('2021-05'),
         pd.Period('2021-07'),
         pd.Period('2021-09'),
         pd.Period('2021-11')
        ]

In [30]:
# storing the data in list
data = [25,37,19,41,32,35]

# creating the Series
time_s = pd.Series(data,index)
print(time_s)

2021-01    25
2021-03    37
2021-05    19
2021-07    41
2021-09    32
2021-11    35
Freq: M, dtype: int64

# Q.6

In [31]:
# New index
new_index = pd.period_range(start='2021-01-01', end='2021-12-01', freq='M')

In [32]:
# Reindexing the series
# to fill the empty gap creatd by reindexing use method='pad': it will fill Propagate the last valid value 
time_s.reindex(new_index,method='pad')

2021-01    25
2021-02    25
2021-03    37
2021-04    37
2021-05    19
2021-06    19
2021-07    41
2021-08    41
2021-09    32
2021-10    32
2021-11    35
2021-12    35
Freq: M, dtype: int64

In [42]:
import pandas as pd
resp='Y'
CID=[] # store courseid
CCH =[] # store Course Credit Hours
CG=[] #  Course Grade
while resp=='Y':
    CID.append(input('Enter CurseID: '))
    CCH.append(int(input('Enter Course Credit Hours: ')))
    CG.append(float(input('Enter Course Grade: ')))
    resp = input('Want to add More course Y/N: ')
df = pd.DataFrame() # to store all the values in table format
df['CurseID'] = CID # creating CurseID column in table
df['Course Grade'] = CG #creating Course Grade column in table
df['Course Credit Hours']=CCH # creating Course Credit Hours column in table
CGPA = sum(df['Course Grade'] * df['Course Credit Hours']) # finding cgpa
print(df)
print('CGPA: ',CGPA)

Enter CurseID: BFF1103
Enter Course Credit Hours: 3
Enter Course Grade: 3.4
Want to add More course Y/N: Y
Enter CurseID: BFF203
Enter Course Credit Hours: 3
Enter Course Grade: 4.00
Want to add More course Y/N: Y
Enter CurseID: BFF2411
Enter Course Credit Hours: 1
Enter Course Grade: 2.5
Want to add More course Y/N: N
   CurseID  Course Grade  Course Credit Hours
0  BFF1103           3.4                    3
1   BFF203           4.0                    3
2  BFF2411           2.5                    1
CGPA:  24.7

In [37]:
df

  CurseID Course Grade Course Credit Hours
0      dd            4                   3
1      gg            3                   4