In [1]:
# imort the library
import pandas as pd

# read the dataset
df = pd.read_csv('datasets.csv')

In [2]:
df # display the data

     record_id     value
0            1 -2.426399
1            2 -1.707418
2            3 -2.066837
3            4 -1.818496
4            5 -1.694320
..         ...       ...
332        333 -0.016061
333        334 -0.008922
334        335  0.002374
335        336  0.002690
336        337 -0.008326

[337 rows x 2 columns]

In [3]:
# get the value column
values = df['value']

# average deviation
- reference: https://www.vedantu.com/formula/average-deviation-formula

In [4]:
# compute average deviation
avg = values.mean()
N = len(values)
avg_deviation = sum(abs(values - avg))/N
print('Average deviation is:',avg_deviation)

Average deviation is: 0.31536645022791454

In [5]:
# round to 3 decimal places.
print('Average deviation is:',round(avg_deviation,3))

Average deviation is: 0.315

# Standard deviation

In [6]:
# compute Standard deviation
standard_deviation = values.std()
print('Standard deviation is:',standard_deviation)

Standard deviation is: 0.4043325990047668

In [7]:
# round to 3 decimal places.
print('Standard deviation is:',round(standard_deviation,3))

Standard deviation is: 0.404