In [2]:
import math
d = list()
d.append('An apple a day keeps the doctor away'.lower().split(' '))
d.append('Never compare an apple to an orange'.lower().split(' '))
d.append('I prefer scikit-learn to orange'.lower().split(' '))
compDoc = "I'd like an apple".split(' ')
terms = set()
tf = list()
temp = dict()
for doc in d:
    for item in doc:
        temp[item] = doc.count(item)/len(doc)
        terms.add(item)
    tf.append(temp)
    temp = dict()
idf = dict()
temp = dict()
for term in terms:
    temp[term] = 0
    for doc in d:
        if term in doc:
            temp[term]+=1
    idf[term] = 1+math.log(3/temp[term])
tfidf = [0, 0, 0]
for term in compDoc:
    for i in range(len(d)):
        if term in d[i]:
            tfidf[i]+= tf[i][term]*idf[term]
print(tfidf.index(max(tfidf))+2)

3

In [3]:
idf

{'apple': 1.4054651081081644,
 'doctor': 2.09861228866811,
 'keeps': 2.09861228866811,
 'away': 2.09861228866811,
 'prefer': 2.09861228866811,
 'an': 1.4054651081081644,
 'a': 2.09861228866811,
 'to': 1.4054651081081644,
 'day': 2.09861228866811,
 'orange': 1.4054651081081644,
 'compare': 2.09861228866811,
 'never': 2.09861228866811,
 'scikit-learn': 2.09861228866811,
 'the': 2.09861228866811,
 'i': 2.09861228866811}

In [4]:
tf

[{'an': 0.125,
  'apple': 0.125,
  'a': 0.125,
  'day': 0.125,
  'keeps': 0.125,
  'the': 0.125,
  'doctor': 0.125,
  'away': 0.125},
 {'never': 0.14285714285714285,
  'compare': 0.14285714285714285,
  'an': 0.2857142857142857,
  'apple': 0.14285714285714285,
  'to': 0.14285714285714285,
  'orange': 0.14285714285714285},
 {'i': 0.2, 'prefer': 0.2, 'scikit-learn': 0.2, 'to': 0.2, 'orange': 0.2}]

In [5]:
tfidf

[0.3513662770270411, 0.6023421891892133, 0]

In [128]:
# input query and dataset
InputQuery = 'How do I control my horny emotions?'.split()
d1='What can cause stool to come out as little balls?'.split()
d2='What can cause stool to come out as little balls?'.split()
d3='How can I move to Jamaica'.split()
d4='Is there any evidence of alien life  in space'.split()

In [129]:
# create a vocabulary set
z = set().union(*[InputQuery,d1,d2,d3,d4])

In [130]:
# # create a list of vocabulary 
# z = set(d1).union(set(d2))
# z = z.union(set(d3))

In [127]:
# set().union(*[InputQuery,d1,d2,d3,d4])

In [41]:
z = z.union(set(d3))

In [59]:
z

{'Music',
 'a',
 'experience',
 'feature',
 'human',
 'is',
 'language',
 'miracle',
 'of',
 'the',
 'universal'}

In [60]:
import pandas as pd
import math

In [44]:
df = pd.DataFrame(z,columns=['Term'])

In [45]:
df

          Term
0           is
1      miracle
2    universal
3            a
4     language
5      feature
6          the
7        Music
8           of
9        human
10  experience

In [55]:
df['TF_d1'] = round(df.Term.map(lambda x: d1.count(x)/len(d1)),2)

In [56]:
df['TF_d2'] = round(df.Term.map(lambda x: d2.count(x)/len(d2)),2)
df['TF_d3'] = round(df.Term.map(lambda x: d3.count(x)/len(d3)),2)

In [57]:
df

          Term  TF_d1  TF_d2  TF_d3
0           is    0.2   0.25   0.11
1      miracle    0.0   0.25   0.00
2    universal    0.2   0.00   0.11
3            a    0.2   0.25   0.11
4     language    0.2   0.00   0.00
5      feature    0.0   0.00   0.11
6          the    0.0   0.00   0.11
7        Music    0.2   0.25   0.11
8           of    0.0   0.00   0.11
9        human    0.0   0.00   0.11
10  experience    0.0   0.00   0.11

In [ ]:
d={}
for i in z:
    d[i]=

In [93]:
df['IDF'] = round(df.Term.map(lambda x: math.log(3/dict_term[x],10)),3)

In [98]:
df['TD-IDF_D1'] = round(df['TF_d1'] * df['IDF'],3)
df['TD-IDF_D2'] = round(df['TF_d2'] * df['IDF'],3)
df['TD-IDF_D3'] = round(df['TF_d3'] * df['IDF'],3)

In [99]:
df

          Term  TF_d1  TF_d2  TF_d3    IDF  TD-IDF_D1  TD-IDF_D2  TD-IDF_D3
0           is    0.2   0.25   0.11  0.000      0.000      0.000      0.000
1      miracle    0.0   0.25   0.00  0.477      0.000      0.119      0.000
2    universal    0.2   0.00   0.11  0.176      0.035      0.000      0.019
3            a    0.2   0.25   0.11  0.000      0.000      0.000      0.000
4     language    0.2   0.00   0.00  0.477      0.095      0.000      0.000
5      feature    0.0   0.00   0.11  0.477      0.000      0.000      0.052
6          the    0.0   0.00   0.11  0.477      0.000      0.000      0.052
7        Music    0.2   0.25   0.11  0.000      0.000      0.000      0.000
8           of    0.0   0.00   0.11  0.477      0.000      0.000      0.052
9        human    0.0   0.00   0.11  0.477      0.000      0.000      0.052
10  experience    0.0   0.00   0.11  0.477      0.000      0.000      0.052

In [100]:
import numpy as np

In [105]:
x = np.array(df['TD-IDF_D1'])

In [106]:
y = np.array(df['TD-IDF_D3'])

In [107]:
x.dot(y)

0.000665

In [115]:
sum(x**2) + sum(y**2)

0.024131

In [66]:
doc_list=[d1,d2,d3]

In [116]:
cos = x.dot(y) / (sum(x**2) + sum(y**2))

In [117]:
cos

0.02755791305789234

In [70]:
dict_term={}
for i in z:
    dict_term[i]=0
    for j in doc_list:
        if i in j:
            dict_term[i] +=1

In [71]:
dict_term

{'is': 3,
 'miracle': 1,
 'universal': 2,
 'a': 3,
 'language': 1,
 'feature': 1,
 'the': 1,
 'Music': 3,
 'of': 1,
 'human': 1,
 'experience': 1}

In [79]:
dict_term['is']

3