# Create a tuple object containing at least 5 values. Print all values from the fourth item to the last item using a slicing technique

In [1]:
# create a tuple
mytuple = (10,20,30,40,50,60,70,80)

In [2]:
# since indexing starts from 0
# hence, index of 4th item is 3

print(mytuple[3:])

(40, 50, 60, 70, 80)

# Create 2 SET objects of your own. At least one item should be included in both SET objects.

In [3]:
# create sets
set1 = {11,22,33,44,65,68,100}
set2 = {23,65,100,68,120}

# Execute 4 set operations (i.e., intersection, union, difference, symmetric difference) and print the result.

In [4]:
# intersection

print(set1.intersection(set2))

{65, 100, 68}

In [5]:
# union

print(set1.union(set2))

{65, 33, 68, 100, 11, 44, 22, 23, 120}

In [6]:
# difference

print('set1 - set2 = ',set1.difference(set2))

print('set2 - set1 = ',set2.difference(set1))

set1 - set2 =  {33, 11, 44, 22}
set2 - set1 =  {120, 23}

In [7]:
# symmetric difference

print(set1.symmetric_difference(set2))

{33, 22, 23, 120, 11, 44}