In [59]:
# Loading data:
# Import function for loading the 'boston' dataset.
from sklearn.datasets import load_boston
# Load a 'bunch' containing data and descriptions.
boston_bunch = load_boston()
# Extract and store predictor variables.
X = boston_bunch.data
# Extract and store the variable that is the target for prediction.
y = boston_bunch.target
# Extract and store labels of predictor variables.
labels = boston_bunch.feature_names

In [60]:
df = pd.DataFrame(X,columns=boston.feature_names)

In [61]:
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [62]:
df['MEDV'] = y

In [63]:
X[:,[0,1]]

array([[6.3200e-03, 1.8000e+01],
       [2.7310e-02, 0.0000e+00],
       [2.7290e-02, 0.0000e+00],
       ...,
       [6.0760e-02, 0.0000e+00],
       [1.0959e-01, 0.0000e+00],
       [4.7410e-02, 0.0000e+00]])

In [64]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.3, random_state = 553)

In [65]:
from sklearn.linear_model import LinearRegression

In [66]:
from sklearn.linear_model import LinearRegression
from sklearn import metrics
lm = LinearRegression()
lm.fit(X_train,y_train)
Y_pred_train = lm.predict(X_train) #predictions on training data
Y_pred_test = lm.predict(X_test)

In [67]:
y_train

array([17.7, 16.7, 37.3, 16.8, 13.1, 18.9, 21.7, 35.1, 14.6, 30.1, 19.1,
       19.9, 23.8, 23.4, 28. , 34.9, 21.7, 20.1, 22. , 29.9, 17.8, 23.1,
       14. , 24.6, 18.4, 18.8,  7. , 27.5, 17.4, 20.8, 26.6, 16. ,  5. ,
       13.4, 23.2, 21.2, 26.6, 25. , 24.8, 23.9, 13.5, 19.3, 25. , 17.2,
       24.4, 12.3, 23.9, 13.6, 19.5, 23.2, 19.4, 21. , 50. , 21.8, 18.2,
       20. , 37.9, 19.1, 32.9, 12.7, 29.1, 25. , 23. , 26.2, 19.2, 19.6,
       13.8, 27.9, 17.5, 25.2, 22.2, 14.3, 22. ,  8.3, 22.8, 23.6, 20.6,
       13.8, 22. , 29. ,  8.5, 12. , 48.5, 31.6, 24.4, 21.7, 22.5, 23.5,
       21.4, 10.2, 32.5, 18.2, 23.1, 20.4, 19.3, 24.8, 28.6, 23.1, 19.9,
       31. ,  8.3, 29. , 22.9,  5. , 19.2, 30.1, 19.5, 20.9, 15.4, 50. ,
       32.4, 10.8, 48.3,  8.8, 28.2, 24.8, 21.6, 22. ,  9.7, 37.2, 14.1,
       17.8, 23.1, 24.2, 17. , 21. , 30.8, 12.7, 32.7, 12.5, 22.6, 17.2,
       20.5, 10.5, 28.7, 17.1, 19.7,  9.6, 18.6, 16.1, 13.6, 20.3, 20. ,
       18.1, 27.5, 18.9, 17.8, 16.5, 50. , 18.3, 24.1, 20.1, 13.4, 20.1,
       22. , 29.8, 13.4, 10.4, 12.6, 27.1, 13.8, 34.9, 50. , 33.1, 25. ,
       18.9, 39.8, 11.8, 27.5, 23.1, 21.1, 20.7, 22.6, 18.2, 15.3, 24. ,
       17.1, 23.8, 31.1, 16.4, 19.4, 19.5, 19.6, 29.8, 20. , 18.5, 50. ,
       20.1, 22.9, 31.2, 42.3, 19.1,  6.3, 22.4, 16.6, 33.2, 33.4, 29.4,
       36.2, 23.8, 14.5, 11. , 31.5, 15.6, 42.8, 23.9, 21.7, 20.3, 13.3,
       23. , 19. , 17.2, 17.5, 23. , 41.7, 18.7, 15. , 20.4, 28.7, 38.7,
       24.1, 33. , 50. , 14.5, 19.4, 16.7, 36. , 10.2, 20.6,  8.5, 22. ,
       14.9, 21.6, 31.7, 36.2,  7.2, 20.9, 46. ,  7.5, 34.7, 24.3, 16.2,
       20. , 18.6, 26.4, 13.3, 37.6, 18. , 24.5, 24.4, 35.4, 22.6, 24.3,
       30.7, 15.6, 20.4, 21.7, 24. , 21.4, 10.4, 22.4, 14.4, 20.8, 23.9,
       28.4, 13.5, 23.7, 30.3, 12.8, 50. , 22.5, 24.4, 26.5, 20.7, 19.6,
       18.5, 22.9, 14.4, 22.2,  7. , 16.5, 18.8, 50. , 14.8, 20.5, 33.2,
       23. , 13.1, 21.5, 12.7, 50. , 15.4, 18.4, 18.9, 43.1, 19.4, 19.6,
       23.3, 22.3, 20.2, 22.3, 19.3, 24.1,  8.7, 11.9, 15.6, 13.1, 18.7,
       23.8, 25. , 19.4, 50. , 19.3, 16.8, 20.6, 23.7, 19.6, 25. , 14.1,
       22.9, 22.1, 32.2, 34.6, 17.8, 14.9, 16.1, 20.4, 22.7, 11.8, 32. ,
       21. , 11.3, 21.4, 44.8,  9.5, 31.5,  7.2, 23.2, 15.2, 20.2, 20.6,
       35.4,  8.4, 23.6, 15. , 15.1, 21.9, 25.3, 25.1, 21.7, 20.5, 16.6,
       11.5, 19.8])

In [68]:
Y_pred_train.shape

(354,)

In [69]:
print('R^2:',metrics.r2_score(y_train, Y_pred_train))

R^2: 0.7685160088338046

In [70]:
pd.DataFrame({'TRUE_MEDV':y_test,'PRED_MEDV':Y_pred_test})

     TRUE_MEDV  PRED_MEDV
0         24.6  24.310994
1          5.6  11.967036
2         27.1  27.725955
3         21.9  24.362253
4         20.0  21.850916
..         ...        ...
147       21.7  24.436944
148       22.7  22.317679
149       13.4  13.652680
150       23.1  15.698922
151       18.7  21.519279

[152 rows x 2 columns]

In [53]:
# other model

In [72]:
boston.feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [73]:
#  AGE, NOX, DIS, and RAD
X[:,[6,4,7,8]]

array([[65.2   ,  0.538 ,  4.09  ,  1.    ],
       [78.9   ,  0.469 ,  4.9671,  2.    ],
       [61.1   ,  0.469 ,  4.9671,  2.    ],
       ...,
       [91.    ,  0.573 ,  2.1675,  1.    ],
       [89.3   ,  0.573 ,  2.3889,  1.    ],
       [80.8   ,  0.573 ,  2.505 ,  1.    ]])

In [57]:
X = df[['AGE','NOX','DIS','RAD']].values

In [74]:
X_train1 = X_train[:,[6,4,7,8]]
X_test1 = X_test[:,[6,4,7,8]]
# y_train1 = y_train
# y_test1 = y_test

In [75]:
from sklearn.linear_model import LinearRegression
from sklearn import metrics,accu
lm = LinearRegression()
lm.fit(X_train1,y_train)
Y_pred_train = lm.predict(X_train1) #predictions on training data
Y_pred_test = lm.predict(X_test1)

In [76]:
from sklearn.preprocessing import PolynomialFeatures
poly_reg = PolynomialFeatures(degree = 2)
X_train_poly = poly_reg.fit_transform(X_train)
lin_reg_2 = LinearRegression()
lin_reg_2.fit(X_train_poly, y_train)

LinearRegression()

In [80]:
lin_reg_2.predict(poly_reg.fit_transform(X_train))
lin_reg_2.predict(poly_reg.fit_transform(X_test))

array([25.91258955,  6.91835499, 26.01584911, 22.03777313, 23.53863144,
       14.29837322, 25.13440943, 45.55455732, 39.34016132, 15.65717649,
       16.54477549, 13.94166088, 18.05071592, 12.62457418, 46.79723835,
       22.34524298, -8.39948368,  7.92577934, 28.86575365, 20.23113918,
       28.80390358, 15.64372015, 52.53038645, 31.9400382 , 20.77567101,
       26.18162203, 30.30617189, 21.32706928, 18.07839346, 35.00674629,
       36.53756809, 15.74374104, 19.71033335, 11.80048466, 12.16492796,
       31.30170965, 29.06697607, 25.33246899, 19.15313721, 23.95540524,
       16.20704365, 21.29828072, 17.96698332, 46.92250538, 20.63535213,
       32.89738655, 25.72145605, 28.78594303, 18.30751133, 25.73722172,
       27.65494394, 34.99403   , 42.55891418, 18.93548346, 28.42877007,
       24.38913488, 13.75883579, 26.50713062, 15.49271107, 23.35326624,
       20.1968255 , 30.41256857, 28.67382526, 30.92303705, 37.9249649 ,
       26.29123163,  5.56570292, 39.93599033, 22.80414963, 17.78446579,
       18.2175808 , 32.20501947, 17.41522312, 18.76932764, 33.02294683,
        3.25364351, 13.55601025, 20.21329784, 49.83620644, 35.13253307,
       21.53044605, 25.17274475, 20.15586758, 25.84723377, 43.50861931,
       12.5154891 , 33.23153019, 26.20146179, 18.5756135 ,  8.94676638,
       18.05738831, 22.16617918, 17.96833563, 32.29351568, 19.79952097,
       24.45528841, 12.30761719,  5.55927038, 15.37421846, 20.20710611,
       19.44856548, 15.23351383, 30.83011293,  8.07004499, 17.55294371,
       12.56267166, 14.8217454 , 21.63098669, 19.55564928, 17.16107416,
       17.60149193, 23.5643754 , 35.55788946, 19.5552659 , 13.83460474,
       12.16451168, 40.24173832, 46.72472239, 25.68016624, 21.03113651,
       10.97778511, 17.62557125, 15.54596281, 22.59796524, 16.35171604,
       23.85001516, 38.51152372, 16.4475131 , 20.16722059, 31.09150648,
        5.4133954 , 21.48581362, 24.54737377, 21.72408295, 16.51729822,
       28.26470327, 46.76120138, 23.76476479, 26.45766687, 12.9139986 ,
       40.66034126, 29.64681816, 16.23862791, 21.49898767, 13.05869961,
       12.13204813,  6.7150321 , 21.51135302, 22.97698832, 12.30410337,
       27.59341145, 21.26340389])

In [81]:
from sklearn.metrics import accuracy_score

In [82]:
accuracy_score(y_true, y_pred)

NameError: name 'y_true' is not defined