In [16]:
import pandas as pd
df = pd.read_csv('JobAds.csv')

In [3]:
df

,id,Title,Location,Company,ContractType,ContractTime,Category,Salary,OpenDate,CloseDate,SourceName
0,69804159,Junior/Senior Internal Control/Compliance Offi...,South East London,JAC Recruitment,NaN,permanent,Accounting & Finance Jobs,34000,20120506T120000,20120705T120000,NaN
1,71428528,Senior Audit Executive,South East London,Michael Page Financial Services,NaN,permanent,Accounting & Finance Jobs,50000,20130504T120000,20130703T120000,NaN
2,70252369,Senior Recruiter Ecommerce,UK,Sharna Associates,NaN,permanent,Sales Jobs,30000,20130621T150000,20130721T150000,NaN
3,69590339,Account Manager / Business Development,Didcot,Size5 Ltd,NaN,permanent,Accounting & Finance Jobs,NaN,20120402T000000,20120601T000000,NaN
4,69169932,FULL TIME TRAINEE LETTINGS NEGOTIATOR,UK,Albright Estates,NaN,permanent,Sales Jobs,17500,20120727T000000,20120826T000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...
50698,72579155,Senior Finance Manager Cost Capital,London,Communicate,full_time,permanent,Accounting & Finance Jobs,70000,20130525T150000,20130624T150000,NaN
50699,72162924,Process Engineer All levels,Surrey,Executive Recruitment Services,full_time,permanent,Engineering Jobs,47500,20120309T150000,20120607T150000,NaN
50700,70960558,Principal Air Consultant Agriculture & Enviro...,London,W5 Recruitment,full_time,permanent,Engineering Jobs,52500,20120729T150000,20120828T150000,NaN
50701,70139229,Health & Social Care Tutor/Assessor Bristol,UK,Pursuit Training Ltd,-,permanent,Teaching Jobs,18000,20120811T000000,20121010T000000,NaN
50702,68704692,Graduate SoftwareWeb Developer,London,UNKNOWN auto added by vacany import,NaN,NaN,IT Jobs,25000,20120112T120000,20120312T120000,NaN

In [ ]:
ata Cleaning



Salary must be [Float]



All the values need to be expressed to two decimal places, e.g., 80000.25.

Also, all salary values must be valid float numbers and not null.



OpenDate - [Datetime]



All the values need to be in the datetime format, e.g.,2013-03-12 15:00:00



CloseDate - [Datetime]



All the values need to be in the datetime format, e.g., 2013-03-12 15:00:00

In [4]:
df.columns

Index(['id', 'Title', 'Location', 'Company', 'ContractType', 'ContractTime',
       'Category', 'Salary', 'OpenDate', 'CloseDate', 'SourceName'],
      dtype='object')

In [5]:
df.dtypes

id                int64
Title            object
Location         object
Company          object
ContractType     object
ContractTime     object
Category         object
Salary           object
OpenDate         object
CloseDate        object
SourceName      float64
dtype: object

In [6]:
df['Salary'] = df['Salary'].astype('float')

ValueError: could not convert string to float: '25000/year'

In [7]:
df['Salary']

0        34000
1        50000
2        30000
3          NaN
4        17500
         ...
50698    70000
50699    47500
50700    52500
50701    18000
50702    25000
Name: Salary, Length: 50703, dtype: object

In [11]:
df['Salary'].

(50703,)

In [14]:
df.dropna(inplace=True)

In [15]:
df

Empty DataFrame
Columns: [id, Title, Location, Company, ContractType, ContractTime, Category, Salary, OpenDate, CloseDate, SourceName]
Index: []