In [ ]:
ca2-em-input.csv

In [ ]:
with open('test.csv','r') as csv:
    first_line = txt.readlines()

In [1]:
d_amount=[100,200,120,150,410,260]

In [2]:
max(d_amount)

410

In [3]:
min(d_amount)

100

In [23]:
d={'ABC':120,
  'PQR':420,
  'ACC':152,
  'TCC':123,
  'NIT':120}

In [24]:
d

{'ABC': 120, 'PQR': 420, 'ACC': 152, 'TCC': 123, 'NIT': 120}

In [25]:
x_min = min(d.values())
x_min

120

In [26]:
x_max = max(d.values())
x_max

420

In [27]:
d['ABC']

120

In [15]:
d.items()

dict_items([('ABC', 120), ('PQR', 420), ('ACC', 152), ('TCC', 123)])

In [28]:
d

{'ABC': 120, 'PQR': 420, 'ACC': 152, 'TCC': 123, 'NIT': 120}

In [29]:
d.keys()

dict_keys(['ABC', 'PQR', 'ACC', 'TCC', 'NIT'])

In [30]:
d.values()

dict_values([120, 420, 152, 123, 120])

In [33]:
list(d.items())

[('ABC', 120), ('PQR', 420), ('ACC', 152), ('TCC', 123), ('NIT', 120)]

In [18]:
for k,v in d.items():
    if v==x_min:
        print('Min value is:',v,'and name is: ',k)
    if v==x_max:
        print('Max value is:',v,'and name is: ',k)

Min value is: 120 and name is:  ABC
Max value is: 420 and name is:  PQR
Min value is: 120 and name is:  NIT

In [21]:
d = {}
while True:
    key = input('Enter key: ')
    val = input('Enter value: ')
    x = input('Want to continue y/n')
    if x=='n':
        break
    d[key] = val
    print(d)
print(d)

Enter key: NITT
Enter value: 123
Want to continue y/ny
{'NITT': '123'}
Enter key: IIT
Enter value: 142
Want to continue y/ny
{'NITT': '123', 'IIT': '142'}
Enter key: NIH
Enter value: 444
Want to continue y/nn

In [66]:
x = input('enter a no')

enter a no34

In [67]:
x

'34'

In [68]:
type(x)

str

In [73]:
a=['22','333','5','7']

In [78]:
d=[int(i) for i in a]

In [79]:
min(d)

5

In [80]:
max(d)

333

In [74]:
 a

['22', '333', '5', '7']

In [75]:
max(a)

'7'

In [76]:
min(a)

'22'

In [92]:
d={}
while True:
    donater=input('enter the key :')
    donation=int(input('enter the value:'))
    x=input('want to continue y/n')
    d[donater]=donation
    if x=='n':
        break
print (d)
print('--------------------------------')
 
min(d.items(), key=lambda x: x[1]) 
# print('the min donation in orphanage is')
print (min(d.values(),'donater=',lambda x:x[1]))
# print('the max donation in orphanage is')
# print (max(d.values()))

enter the key :ABC
enter the value:123
want to continue y/ny
enter the key :BAC
enter the value:425
want to continue y/ny
enter the key :TAC
enter the value:159
want to continue y/ny
enter the key :NIT
enter the value:1000
want to continue y/nn
{'ABC': 123, 'BAC': 425, 'TAC': 159, 'NIT': 1000}
--------------------------------

In [95]:
d

{'ABC': 123, 'BAC': 425, 'TAC': 159, 'NIT': 1000}

In [94]:
d.items()

dict_items([('ABC', 123), ('BAC', 425), ('TAC', 159), ('NIT', 1000)])

In [96]:
min(d.values())

123

In [97]:
max(d.values())

1000

In [86]:
maxx = max(d.values())
minn = min(d.values())
for k,v in d.items():

('ABC', '1231')
('BAC', '121')
('TTT', '740')

In [87]:
t=('ABC', '1231')

In [98]:
t[0]

'ABC'

In [99]:
t[1]

'1231'

In [100]:
help(min)

Help on built-in function min in module builtins:

min(...)
    min(iterable, *[, default=obj, key=func]) -> value
    min(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its smallest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the smallest argument.