In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('full_data.csv')

In [6]:
df = df.iloc[:,1:]

In [7]:
df

        Tdb    RH  SR_global  SR_direct  SR_diffuse  tot_e_pw(kw)
0      18.7  83.0        0.0        0.0         0.0    712.258624
1      18.7  82.0        0.0        0.0         0.0    693.977166
2      18.7  83.0        0.0        0.0         0.0    703.228873
3      18.7  83.0        0.0        0.0         0.0    707.375917
4      18.7  83.0        0.0        0.0         0.0    707.857816
...     ...   ...        ...        ...         ...           ...
66953  27.3  91.0        0.0        0.0         0.0    991.001191
66954  27.3  91.0        0.0        0.0         0.0    980.325776
66955  27.3  91.0        0.0        0.0         0.0    967.948412
66956  27.3  91.0        0.0        0.0         0.0    981.027088
66957  27.4  90.0        1.0        0.0         0.0    989.621530

[66958 rows x 6 columns]

In [9]:
X = df.iloc[:, :-1].values
y = df.iloc[:, -1].values

In [10]:
y

array([712.2586238, 693.9771663, 703.2288732, ..., 967.9484117,
       981.0270883, 989.6215297])

In [11]:
X

array([[18.7, 83. ,  0. ,  0. ,  0. ],
       [18.7, 82. ,  0. ,  0. ,  0. ],
       [18.7, 83. ,  0. ,  0. ,  0. ],
       ...,
       [27.3, 91. ,  0. ,  0. ,  0. ],
       [27.3, 91. ,  0. ,  0. ,  0. ],
       [27.4, 90. ,  1. ,  0. ,  0. ]])

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [26]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [27]:
y_pred = regressor.predict(X_test)

In [28]:
def my_custom_mape(X_train,y_train):# score_func(y, y_pred) --prototype
    df=pd.DataFrame(dict(y_test=X_train,y_pred=y_train))
    return sum(abs(df['y_test']-df['y_pred'])/df['y_test'])/len(df['y_test'])

In [29]:
my_custom_mape(y_test,y_pred)

inf

In [30]:
y_test

array([ 998.7817354, 1028.296513 , 3491.722353 , ...,  741.71183  ,
       3074.921165 , 2459.614169 ])

In [31]:
y_pred

array([1334.08333326, 1675.93806092, 1779.69977494, ...,  791.98178252,
       1642.08258514, 1356.58640627])