In [118]:
line9 =''
line44=''
year=''
fp = open("GDP.txt")
for i in range(44):
    temp = fp.readline()
    if i+1 == 9:
        line9 = temp
    elif i+1==44:
        line44 = temp
    elif i+1==8:
        year = temp

In [119]:
line9 = line9.strip()
year = year.strip()
line44 = line44.strip()

In [94]:
line9

'1        Gross domestic product                                A191RL1          3.1         0.2         3.3         5.2         5.6        -0.5        -0.2         5.4         4.6         5.6         3.2        -0.2         2.6        -1.9         4.6         7.3         4.2         3.5         3.5         4.2         3.7         1.9        -0.1         3.6         2.7         4.0         2.7         3.8         4.5         4.5         4.7         4.1         1.0         1.8         2.8         3.8         3.3         2.7         1.8        -0.3        -2.8         2.5         1.6         2.2         1.7         2.4         2.6'

In [99]:
year[76:]

'   1969        1970        1971        1972        1973        1974        1975        1976        1977        1978        1979        1980        1981        1982        1983        1984        1985        1986        1987        1988        1989        1990        1991        1992        1993        1994        1995        1996        1997        1998        1999        2000        2001        2002        2003        2004        2005        2006        2007        2008        2009        2010        2011        2012        2013        2014        2015'

In [143]:
min_value = 10000000
index_year=0
for i in range(1,48,1):
    x = 76 + (i-1)*12
    y = 76 + i*12
    value = float(line9[x:y].strip())
   
    if value < min_value:
        min_value = value
        index_year = x
print(min_value,'---',index_year)

-2.8 --- 556

In [130]:
len(line9[340:340+12])

12

In [145]:
min_value = -10000000
index_year=0

for i in range(1,48,1):
    x = 76 + (i-1)*12
    y = 76 + i*12
    value = float(line9[x:y].strip())
   
    if value > min_value:
        min_value = value
        index_year = x
print(min_value,'---',index_year)

7.3 --- 256

In [131]:
len(line44[628:628+12])

7

In [127]:
line9[76:76+12]

'    3.1     '

In [64]:
line44

'1        Gross domestic product                                A191RC1       1019.9      1075.9      1167.8      1282.4      1428.5      1548.8      1688.9      1877.6      2086.0      2356.6      2632.1      2862.5      3211.0      3345.0      3638.1      4040.7      4346.7      4590.2      4870.2      5252.6      5657.7      5979.6      6174.0      6539.3      6878.7      7308.8      7664.1      8100.2      8608.5      9089.2      9660.6     10284.8     10621.8     10977.5     11510.7     12274.9     13093.7     13855.9     14477.6     14718.6     14418.7     14964.4     15517.9     16155.3     16691.5     17393.1     18036.6\n'

In [34]:
e=t[8][76+12:76+24]

In [37]:
e.strip()

'0.2'

In [61]:
line44

'1        Gross domestic product                                A191RC1       1019.9      1075.9      1167.8      1282.4      1428.5      1548.8      1688.9      1877.6      2086.0      2356.6      2632.1      2862.5      3211.0      3345.0      3638.1      4040.7      4346.7      4590.2      4870.2      5252.6      5657.7      5979.6      6174.0      6539.3      6878.7      7308.8      7664.1      8100.2      8608.5      9089.2      9660.6     10284.8     10621.8     10977.5     11510.7     12274.9     13093.7     13855.9     14477.6     14718.6     14418.7     14964.4     15517.9     16155.3     16691.5     17393.1     18036.6\n'

In [112]:
abs(-3.2)

3.2

In [137]:
line44[616:628]

'17393.1     '

In [149]:
line = line9
index = 256

In [150]:
float(line44[index:index+12])

4040.7

In [155]:
print("{:<10}{:>8}{:>6}{:>18}".format('min/max','change','year','GDP(trillions)'))
print("{:<10s}{:>8.1f}{:>6d}{:>18.2f}".format('min',min_val,min_year,min_val_gdp))
print("{:<10s}{:>8.1f}{:>6d}{:>18.2f}".format('max',max_val,max_year,max_val_gdp))

min/max     change  year    GDP(trillions)

In [158]:
line9[256:256+12]

'    7.3     '