In [22]:
import pandas as pd
df = pd.read_csv('JobAds.csv')

In [23]:
df.head()

,id,Title,Location,Company,ContractType,ContractTime,Category,Salary,OpenDate,CloseDate,SourceName
0,69804159,Junior/Senior Internal Control/Compliance Offi...,South East London,JAC Recruitment,NaN,permanent,Accounting & Finance Jobs,34000,20120506T120000,20120705T120000,NaN
1,71428528,Senior Audit Executive,South East London,Michael Page Financial Services,NaN,permanent,Accounting & Finance Jobs,50000,20130504T120000,20130703T120000,NaN
2,70252369,Senior Recruiter Ecommerce,UK,Sharna Associates,NaN,permanent,Sales Jobs,30000,20130621T150000,20130721T150000,NaN
3,69590339,Account Manager / Business Development,Didcot,Size5 Ltd,NaN,permanent,Accounting & Finance Jobs,NaN,20120402T000000,20120601T000000,NaN
4,69169932,FULL TIME TRAINEE LETTINGS NEGOTIATOR,UK,Albright Estates,NaN,permanent,Sales Jobs,17500,20120727T000000,20120826T000000,NaN

In [24]:
df.columns

Index(['id', 'Title', 'Location', 'Company', 'ContractType', 'ContractTime',
       'Category', 'Salary', 'OpenDate', 'CloseDate', 'SourceName'],
      dtype='object')

In [25]:
df.isna().any()

id              False
Title           False
Location        False
Company          True
ContractType     True
ContractTime     True
Category        False
Salary           True
OpenDate        False
CloseDate       False
SourceName       True
dtype: bool

In [8]:
df['OpenDate'] = pd.to_datetime(df['OpenDate'])
# raw_data['Mycol'] =  pd.to_datetime(raw_data['Mycol'], format='%d%b%Y:%H:%M:%S.%f')

ParserError: month must be in 1..12: 20121812T150000

In [26]:
df['OpenDate'] = df['OpenDate'].apply(lambda x: x.split('T')[0])
df['OpenDate'] = df['OpenDate'].apply(lambda x: x[:4]+'-'+x[4:6]+'-'+x[6:])

In [27]:
df

,id,Title,Location,Company,ContractType,ContractTime,Category,Salary,OpenDate,CloseDate,SourceName
0,69804159,Junior/Senior Internal Control/Compliance Offi...,South East London,JAC Recruitment,NaN,permanent,Accounting & Finance Jobs,34000,2012-05-06,20120705T120000,NaN
1,71428528,Senior Audit Executive,South East London,Michael Page Financial Services,NaN,permanent,Accounting & Finance Jobs,50000,2013-05-04,20130703T120000,NaN
2,70252369,Senior Recruiter Ecommerce,UK,Sharna Associates,NaN,permanent,Sales Jobs,30000,2013-06-21,20130721T150000,NaN
3,69590339,Account Manager / Business Development,Didcot,Size5 Ltd,NaN,permanent,Accounting & Finance Jobs,NaN,2012-04-02,20120601T000000,NaN
4,69169932,FULL TIME TRAINEE LETTINGS NEGOTIATOR,UK,Albright Estates,NaN,permanent,Sales Jobs,17500,2012-07-27,20120826T000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...
50698,72579155,Senior Finance Manager Cost Capital,London,Communicate,full_time,permanent,Accounting & Finance Jobs,70000,2013-05-25,20130624T150000,NaN
50699,72162924,Process Engineer All levels,Surrey,Executive Recruitment Services,full_time,permanent,Engineering Jobs,47500,2012-03-09,20120607T150000,NaN
50700,70960558,Principal Air Consultant Agriculture & Enviro...,London,W5 Recruitment,full_time,permanent,Engineering Jobs,52500,2012-07-29,20120828T150000,NaN
50701,70139229,Health & Social Care Tutor/Assessor Bristol,UK,Pursuit Training Ltd,-,permanent,Teaching Jobs,18000,2012-08-11,20121010T000000,NaN
50702,68704692,Graduate SoftwareWeb Developer,London,UNKNOWN auto added by vacany import,NaN,NaN,IT Jobs,25000,2012-01-12,20120312T120000,NaN

In [29]:
df['OpenDate'] = pd.to_datetime(df['OpenDate'])

ParserError: month must be in 1..12: 2012-18-12

In [30]:
df[df['OpenDate'] == '2012-18-12']

,id,Title,Location,Company,ContractType,ContractTime,Category,Salary,OpenDate,CloseDate,SourceName
23663,71771852,"LOCUM TRIAGE NURSES REQUIRED, ONGOING, **** PE...",Wales,Merco,NaN,contract,Healthcare & Nursing Jobs,43200,2012-18-12,20130101T150000,NaN