In [1]:
# load the library
import pandas as pd

# reading the data from UIC2016MensBasketBall.csv
df2016 = pd.read_csv("UIC2016MensBasketBall.csv")

In [2]:
df2016.dtypes # check the datatypes

Date          object
Opp           object
UIC Score      int64
Opp Score      int64
UIC FG       float64
Opp FG         int64
UIC 3P       float64
Opp 3P       float64
UIC TRB        int64
Opp TRB      float64
UIC AST      float64
Opp AST        int64
dtype: object

In [3]:
# change datatype of Date to datetime
df2016['Date'] =pd.to_datetime(df2016['Date'])

In [4]:
# Game played in 2016
newDF = df2016[df2016['Date'].dt.year==2016]
newDF

,Date,Opp,UIC Score,Opp Score,UIC FG,Opp FG,UIC 3P,Opp 3P,UIC TRB,Opp TRB,UIC AST,Opp AST
11,2016-01-02,Valparaiso,47,75,18.0,25,2.0,8.0,28,39.0,11.0,12
12,2016-01-08,Detroit,69,87,21.0,26,2.0,4.0,35,32.0,6.0,10
13,2016-01-10,Oakland,61,86,21.0,25,NaN,4.0,32,30.0,10.0,11
14,2016-01-14,Green Bay,76,78,29.0,29,5.0,4.0,33,40.0,20.0,19
15,2016-01-16,Milwaukee,62,87,21.0,31,4.0,8.0,29,32.0,11.0,24
16,2016-01-18,Cleveland State,53,70,20.0,23,2.0,9.0,36,37.0,6.0,15
17,2016-01-22,Northern Kentucky,69,82,23.0,25,1.0,9.0,36,34.0,3.0,14
18,2016-01-24,Wright State,66,80,22.0,29,2.0,9.0,36,25.0,NaN,14
19,2016-01-28,Youngstown State,78,82,NaN,29,5.0,14.0,49,37.0,16.0,21
20,2016-01-30,Cleveland State,72,70,21.0,26,4.0,4.0,35,34.0,13.0,16
21,2016-02-06,Valparaiso,55,73,19.0,28,2.0,7.0,28,40.0,8.0,20
22,2016-02-11,Wright State,64,59,22.0,21,5.0,6.0,40,30.0,13.0,14
23,2016-02-13,Northern Kentucky,79,77,24.0,27,7.0,9.0,45,30.0,13.0,16
24,2016-02-16,Youngstown State,91,92,38.0,35,6.0,5.0,60,45.0,12.0,11
25,2016-02-19,Detroit,72,83,24.0,27,4.0,7.0,34,36.0,9.0,19
26,2016-02-21,Oakland,63,74,24.0,28,3.0,7.0,42,44.0,12.0,16
27,2016-02-26,Green Bay,69,85,22.0,30,6.0,9.0,31,44.0,7.0,17
28,2016-02-28,Milwaukee,85,98,30.0,30,9.0,15.0,36,39.0,13.0,25
29,2016-03-05,Wright State,43,74,12.0,29,2.0,14.0,39,39.0,5.0,20

In [5]:
newDF['Opp'] # get opponents name

11           Valparaiso
12              Detroit
13              Oakland
14            Green Bay
15            Milwaukee
16      Cleveland State
17    Northern Kentucky
18         Wright State
19     Youngstown State
20      Cleveland State
21           Valparaiso
22         Wright State
23    Northern Kentucky
24     Youngstown State
25              Detroit
26              Oakland
27            Green Bay
28            Milwaukee
29         Wright State
Name: Opp, dtype: object

In [6]:
# get number of unique opponents
len(newDF['Opp'].unique())

9

In [7]:
# you can also print
print('Number of opponents in 2016:',len(newDF['Opp'].unique()))

Number of opponents in 2016: 9