In [17]:
import pandas as pd
import numpy as np
from scipy import stats

In [18]:
df = pd.read_csv('testdata.csv')

In [19]:
df

   Advertising Expenditure(X)  Sales(Y)
0                         2.0      18.5
1                         2.2      20.5
2                         2.5      22.0
3                         2.7      24.0

In [20]:
np.mean(df)

Advertising Expenditure(X)     2.35
Sales(Y)                      21.25
dtype: float64

In [21]:
np.median(df,axis=0)

array([ 2.35, 21.25])

In [22]:
stats.mode(df)

ModeResult(mode=array([[ 2. , 18.5]]), count=array([[1, 1]]))

In [23]:
import statistics

In [31]:
statistics.mode(df['Sales(Y)'])

18.5

In [27]:
df.iloc[:].values

array([[ 2. , 18.5],
       [ 2.2, 20.5],
       [ 2.5, 22. ],
       [ 2.7, 24. ]])

In [30]:
df['Sales(Y)']

0    18.5
1    20.5
2    22.0
3    24.0
Name: Sales(Y), dtype: float64

In [ ]:
statistics.co