In [1]:
s='IIT Hyd'

In [2]:
s

'IIT Hyd'

In [9]:
s[4:]

'Hyd'

In [12]:
print('1')
print('2')
print('3')

1
2
3

In [21]:
for i in range(3,11,2): # range(start,stop,step)
    print(i)

3
5
7
9

In [23]:
for x in range(100):
    print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [25]:
x=5
if x==4:
    print('yes i am 4')
else:
    print('no')

no

In [30]:
s = 'hhh'

if s=='rain':
    print('i can not play outside')
elif s=='sunny':
    print('play cricket')
elif s=='winter':
    print('football')
else:
    print('play anything')

play anything

In [31]:
3/2

1.5

In [32]:
3//2

1

In [33]:
4//2

2

In [34]:
4/2

2.0

In [35]:
3%2

1

In [36]:
4%2

0

In [40]:
13%3

1

In [41]:
4%2

0

In [42]:
5%2

1

In [44]:
for i in range(1,11,1):
    if i%2==0:
        print(i)

2
4
6
8
10

In [52]:
for i in range(1,11,1):
    if i%2==1:
        print(i**2)

1
9
25
49
81

In [53]:
for i in range(1,11,1):
    if i%2==1:
        print("Square of {} is {}".format(i,i**2))

Square of 1 is 1
Square of 3 is 9
Square of 5 is 25
Square of 7 is 49
Square of 9 is 81

In [55]:
for i in range(1,11,1):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10

In [56]:
for i in range(10,0,-1):
    print(i,end=' ')

10 9 8 7 6 5 4 3 2 1

In [57]:
for i in range(10,0,-2):
    print(i,end=' ')

10 8 6 4 2

In [ ]:
10 8 6 4 2

In [ ]:
# square of 1 is 1
# square of 2 is 4

In [46]:
x=4

In [47]:
x*x

16

In [48]:
x**2

16

In [49]:
x**3

64

In [51]:
x**4

256

In [58]:
for i in range(10): # range(start,stop,step) start=0, step=1
    print(i)

0
1
2
3
4
5
6
7
8
9

In [65]:
for i in range(1,11,1): # range(start,stop,step) start=0, step=1
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10

In [66]:
for i in range(1,11,2): # range(start,stop,step) start=0, step=1
    print(i,end=' ')

1 3 5 7 9

In [69]:
x=5

In [70]:
if x==4:
    print('yes i am 4')
else:
    print('No')

No

In [75]:
s = 'abc'

if s=='rain':
    print('i can not play outside')
elif s=='sunny':
    print('play cricket')
elif s=='winter':
    print('football')
else:
    print('no match')

no match

In [76]:
3/2

1.5

In [77]:
3//2

1

In [78]:
5//2

2

In [79]:
5/2

2.5

In [80]:
5%2

1

In [83]:
30%2

0

In [81]:
4%2

0

In [84]:
for i in range(1,11,1):
    if i%2==0:
        print(i)

2
4
6
8
10

In [85]:
for i in range(1,11,1):
    if i%2==0:
        print(i*i)

4
16
36
64
100

In [ ]:
1 is odd
2 is even
3 is odd
4 is even

.... 100