In [1]:
import numpy as np
from datascience import *

# Load the data

In [2]:
year = np.array(['Second']*60+['Third']*40)
major = np.array(['Undeclared']*30 + ['Declared']*30 +['Undeclared']*8 + ['Declared']*32)
students = Table().with_columns(
'Year',year,
'Major',major
)
students.show(3)

# Step by step solution

In [3]:
students.where('Year', 'Second') # Table where Year== 'Second'

Year   | Major
Second | Undeclared
Second | Undeclared
Second | Undeclared
Second | Undeclared
Second | Undeclared
Second | Undeclared
Second | Undeclared
Second | Undeclared
Second | Undeclared
Second | Undeclared
... (50 rows omitted)

In [4]:
students.where('Year', 'Second').where('Major', 'Declared') # Table where Year== 'Second' and Major=='Declared'

Year   | Major
Second | Declared
Second | Declared
Second | Declared
Second | Declared
Second | Declared
Second | Declared
Second | Declared
Second | Declared
Second | Declared
Second | Declared
... (20 rows omitted)

In [5]:
Second_D = students.where('Year', 'Second').where('Major', 'Declared').num_rows # get the number of rows  
Second_D

30

In [6]:
# similarly for Year== 'Second' and Major=='Undeclared'
Second_UN = students.where('Year', 'Second').where('Major','Undeclared').num_rows
Second_UN

30

In [7]:
# for Year== 'Third' and Major=='Declared'
Third_D = students.where('Year', 'Third').where('Major', 'Declared').num_rows  
Third_D

32

In [8]:
# Year== 'Third' and Major=='Undeclared'
Third_UN = students.where('Year', 'Third').where('Major', 'Undeclared').num_rows  
Third_UN

8

In [9]:
# Create an empty table with column labels
new_table = Table(make_array('Year', 'Declared', 'Undeclared'))

In [10]:
new_table

Year | Declared | Undeclared

In [11]:
# Similarly create a empty table called all_combos
all_combos = Table(make_array('Year','Declared', 'Undeclared'))

# add rows with respective values
all_combos = all_combos.with_rows(make_array(make_array('Second', Second_D, Second_UN),
                            make_array('Third', Third_D, Third_UN)))

In [12]:
all_combos

Year   | Declared | Undeclared
Second | 30       | 30
Third  | 32       | 8

In [13]:
# you can create a similar table without 'Year' column

# Similarly create a empty table called all_combos
all_combos = Table(make_array('','Declared', 'Undeclared'))

# add rows with respective values
all_combos = all_combos.with_rows(make_array(make_array('Second', Second_D, Second_UN),
                            make_array('Third', Third_D, Third_UN)))

In [14]:
all_combos

       | Declared | Undeclared
Second | 30       | 30
Third  | 32       | 8