In [1]:
d={}

In [2]:
d['city'] = ['Chattanooga','Augusta','Chattanooga','Chattanooga','Augusta','Augusta','Augusta','Chattanooga','Chattanooga']

In [3]:
d['state'] =['TN','GA','TN','TN','GA','GA','GA','TN','TN']

In [4]:
d['holc_grade'] =['C','C','B','A','B','D','B','D','C']

In [9]:
d['holc_id'] =['C4','C5','B7','A1','B4','D11','B1','D8','C7']

In [10]:
d['geometry'] = ['MULTIPOLYGON']*9

In [149]:
import pandas as pd

In [150]:
# sample dataset
df = pd.read_csv('dummy.csv')

In [151]:
df

          city state holc_grade holc_id      geometry
0  Chattanooga    TN          C      C4  MULTIPOLYGON
1      Augusta    GA          C      C5  MULTIPOLYGON
2  Chattanooga    TN          B      B7  MULTIPOLYGON
3  Chattanooga    TN          A      A1  MULTIPOLYGON
4      Augusta    GA          B      B4  MULTIPOLYGON
5      Augusta    GA          D     D11  MULTIPOLYGON
6      Augusta    GA          B      B1  MULTIPOLYGON
7  Chattanooga    TN          D      D8  MULTIPOLYGON
8  Chattanooga    TN          C      C7  MULTIPOLYGON

In [152]:
def filter_ratings(ratings, city_st, targets=None):
    
    # import library
    import pandas as pd
    
    # split city and state from city_st
    city_st = city_st.split(',')
    
    # remove the extra space in prefix and suffix in city and state
    # eg:- ' GA' will become 'GA'
    # city_st_list : its first element is city and second element is state
    city_st_list = [i.strip() for i in city_st]
    
    # filter dataframe based on city
    ratings = ratings[ratings['city']==city_st_list[0]]
    
    # filter dataframe based on state
    ratings = ratings[ratings['state']==city_st_list[1]]
    
    # if targets is None return the dataframe that was filtered
    # based on city and state
    if targets == None:
        return ratings
    
    # if targets is empty set return empty dataframe
    # pd.DataFrame() : this will create a empty Dataframe
    elif targets == {}:
        return pd.DataFrame()   
    # if targets contains something then 
    # create a pattern using their elements,like 'A|B|C'
    # it will filter Dataframe based on value A or B or C in holc_grade column
    else:
        s=''
        for i in targets:
            s=s+i+'|'
        s=s[:-1]
        ratings = ratings[ratings['holc_grade'].str.contains(s)]       
    # return the filtered ratings dataframe.
    return ratings

In [153]:
# for testing the program
targets= {'C','B'}
city_st='Augusta, GA'

In [154]:
filter_ratings(df,city_st,targets)

      city state holc_grade holc_id      geometry
1  Augusta    GA          C      C5  MULTIPOLYGON
4  Augusta    GA          B      B4  MULTIPOLYGON
6  Augusta    GA          B      B1  MULTIPOLYGON