In [1]:
import sqlite3 # import database library
con = sqlite3.connect('db.db')

In [2]:
cur = con.cursor()

In [4]:
cur

In [6]:
import sqlite3 # import database library
con = sqlite3.connect('mydatabase.db') # open a connection to database file mydatabase.db
cur = con.cursor() # return a cursor for the connection con
cur.execute("DROP TABLE IF EXISTS Entries") # drop a table if any

# create a query
query ='''CREATE TABLE Entries( 
   PERSON_NAME CHAR(20) NOT NULL,
   PHONE_NO INT NOT NULL,
   CONSTRAINT Entries_pk PRIMARY KEY (PHONE_NO)
)'''

# execute a query
cur.execute(query)

# function to add rows
def addrow(name,phone):
    con = sqlite3.connect('mydatabase.db') # open a connection
    cur = con.cursor()
    try:
        # insert statement
        query = """INSERT INTO Entries(PERSON_NAME, PHONE_NO) VALUES (?,?);"""
        val = (name,phone)
        cur.execute(query, val)
        print('1 Row is added')
        con.commit() # commit the change
        # close the connection
        con.close()
    except:
        con.commit() # commit the change
        # close the connection
        con.close()
        print('Duplicate phone number or wrong inputs')
    
# function to return row with matching name
def return_phone(name):
    con = sqlite3.connect('mydatabase.db')
    cur = con.cursor()
    query= "SELECT * from Entries where PERSON_NAME= ?"
    val = (name,)
    cur.execute(query, val)
    print(35*'-') # print '-' 35 times for better formatting
    print("{:<20} {:<12}".format('Name','Phone'))
    print(35*'-')
    for  name,phone in cur.fetchall():
        print("{:<20} {:<12}".format(name,phone))
    print()
    con.commit() # commit the change
    # close the connection
    con.close()

# delete a row
def delrow(phone):
    try:
        con = sqlite3.connect('mydatabase.db')
        cur = con.cursor()
        # delete query
        query = "DELETE FROM Entries WHERE PHONE_NO = ?"
        val = (phone,)
        cur.execute(query,val)
        print("row deleted...... ")
        con.commit() # commit the change
        # close the connection
        con.close()
    except:
        print('wrong input or phone no does not exist')
        con.commit() # commit the change
        # close the connection
        con.close()
while True:
    print('Please Enter 0 to 5')
    print('Add row: 0')
    print('Update phone number: 1')
    print('Display whole table: 2')
    print('Display phone number: 3')
    print('Delete a row: 4')
    print('Enter 5 to quit.')
    print()
    try:
        x = int(input('Enter your choice: '))
    except:
        print('Wrong choices')
        continue
    if x==0:
        name = input('Enter the Name:')
        phone = int(input('Enter the phone number:'))
        addrow(name,phone)
        print('----------------------------')
    
    elif x==1:
        try:
            phone_old = int(input('Enter the old phone number:'))
            phone_new = int(input('Enter the new phone number:'))
            con = sqlite3.connect('mydatabase.db')
            cur = con.cursor()
            query = "UPDATE Entries SET PHONE_NO=? WHERE PHONE_NO = ?"
            val = (phone_new,phone_old)
            cur.execute(query,val)
            print("Table updated...... ")
            con.commit() # commit the change
            # close the connection
            con.close()
        except:
            print('wrong input or old phone number does not exist in database')
            con.commit() # commit the change
            # close the connection
            con.close()
        print('----------------------------')
        
    elif x==2:
        con = sqlite3.connect('mydatabase.db')
        cur = con.cursor()
        cur.execute("SELECT * from Entries")
        print(35*'-') # print '-' 35 times for better formatting
        print("{:<20} {:<12}".format('Name','Phone'))
        print(35*'-')
        for  name,phone in cur.fetchall():
            print("{:<20} {:<12}".format(name,phone))
        print()
        con.commit() # commit the change
        # close the connection
        con.close()
        print('----------------------------')
        
    elif x==3:
        name = input('Enter the Name:')
        return_phone(name)
        print('----------------------------')
        
    elif x==4:
        phone = int(input('Enter the phone number to delete the row:'))
        delrow(phone)
        
    elif x==5:
        break
    else:
        print('Wrong Choices')

Please Enter 0 to 5
Add row: 0
Update phone number: 1
Display whole table: 2
Display phone number: 3
Delete a row: 4
Enter 5 to quit.

Enter your choice: 0
Enter the Name:ABC
Enter the phone number:123456789
1 Row is added
----------------------------
Please Enter 0 to 5
Add row: 0
Update phone number: 1
Display whole table: 2
Display phone number: 3
Delete a row: 4
Enter 5 to quit.

Enter your choice: 0
Enter the Name:XYZ
Enter the phone number:9876543210
1 Row is added
----------------------------
Please Enter 0 to 5
Add row: 0
Update phone number: 1
Display whole table: 2
Display phone number: 3
Delete a row: 4
Enter 5 to quit.

Enter your choice: 0
Enter the Name:CHERO
Enter the phone number:9999999999
1 Row is added
----------------------------
Please Enter 0 to 5
Add row: 0
Update phone number: 1
Display whole table: 2
Display phone number: 3
Delete a row: 4
Enter 5 to quit.

Enter your choice: 2
-----------------------------------
Name                 Phone
-----------------------------------
ABC                  123456789
XYZ                  9876543210
CHERO                9999999999

----------------------------
Please Enter 0 to 5
Add row: 0
Update phone number: 1
Display whole table: 2
Display phone number: 3
Delete a row: 4
Enter 5 to quit.

Enter your choice: 3
Enter the Name:ABC
-----------------------------------
Name                 Phone
-----------------------------------
ABC                  123456789

----------------------------
Please Enter 0 to 5
Add row: 0
Update phone number: 1
Display whole table: 2
Display phone number: 3
Delete a row: 4
Enter 5 to quit.

Enter your choice: 1
Enter the old phone number:123456789
Enter the new phone number:1212121212
Table updated......
----------------------------
Please Enter 0 to 5
Add row: 0
Update phone number: 1
Display whole table: 2
Display phone number: 3
Delete a row: 4
Enter 5 to quit.

Enter your choice: 2
-----------------------------------
Name                 Phone
-----------------------------------
ABC                  1212121212
XYZ                  9876543210
CHERO                9999999999

----------------------------
Please Enter 0 to 5
Add row: 0
Update phone number: 1
Display whole table: 2
Display phone number: 3
Delete a row: 4
Enter 5 to quit.

Enter your choice: 4
Enter the phone number to delete the row:9999999999
row deleted......
Please Enter 0 to 5
Add row: 0
Update phone number: 1
Display whole table: 2
Display phone number: 3
Delete a row: 4
Enter 5 to quit.

Enter your choice: 2
-----------------------------------
Name                 Phone
-----------------------------------
ABC                  1212121212
XYZ                  9876543210

----------------------------
Please Enter 0 to 5
Add row: 0
Update phone number: 1
Display whole table: 2
Display phone number: 3
Delete a row: 4
Enter 5 to quit.

Enter your choice: 5

# Complete OUTPUT

Please Enter 0 to 5
Add row: 0
Update phone number: 1
Display whole table: 2
Display phone number: 3
Delete a row: 4
Enter 5 to quit.

Enter your choice: 0
Enter the Name:ABC
Enter the phone number:123456789
1 Row is added
----------------------------
Please Enter 0 to 5
Add row: 0
Update phone number: 1
Display whole table: 2
Display phone number: 3
Delete a row: 4
Enter 5 to quit.

Enter your choice: 0
Enter the Name:XYZ
Enter the phone number:9876543210
1 Row is added
----------------------------
Please Enter 0 to 5
Add row: 0
Update phone number: 1
Display whole table: 2
Display phone number: 3
Delete a row: 4
Enter 5 to quit.

Enter your choice: 0
Enter the Name:CHERO
Enter the phone number:9999999999
1 Row is added
----------------------------
Please Enter 0 to 5
Add row: 0
Update phone number: 1
Display whole table: 2
Display phone number: 3
Delete a row: 4
Enter 5 to quit.

Enter your choice: 2
-----------------------------------
Name                 Phone       
-----------------------------------
ABC                  123456789   
XYZ                  9876543210  
CHERO                9999999999  

----------------------------
Please Enter 0 to 5
Add row: 0
Update phone number: 1
Display whole table: 2
Display phone number: 3
Delete a row: 4
Enter 5 to quit.

Enter your choice: 3
Enter the Name:ABC
-----------------------------------
Name                 Phone       
-----------------------------------
ABC                  123456789   

----------------------------
Please Enter 0 to 5
Add row: 0
Update phone number: 1
Display whole table: 2
Display phone number: 3
Delete a row: 4
Enter 5 to quit.

Enter your choice: 1
Enter the old phone number:123456789
Enter the new phone number:1212121212
Table updated...... 
----------------------------
Please Enter 0 to 5
Add row: 0
Update phone number: 1
Display whole table: 2
Display phone number: 3
Delete a row: 4
Enter 5 to quit.

Enter your choice: 2
-----------------------------------
Name                 Phone       
-----------------------------------
ABC                  1212121212  
XYZ                  9876543210  
CHERO                9999999999  

----------------------------
Please Enter 0 to 5
Add row: 0
Update phone number: 1
Display whole table: 2
Display phone number: 3
Delete a row: 4
Enter 5 to quit.

Enter your choice: 4
Enter the phone number to delete the row:9999999999
row deleted...... 
Please Enter 0 to 5
Add row: 0
Update phone number: 1
Display whole table: 2
Display phone number: 3
Delete a row: 4
Enter 5 to quit.

Enter your choice: 2
-----------------------------------
Name                 Phone       
-----------------------------------
ABC                  1212121212  
XYZ                  9876543210  

----------------------------
Please Enter 0 to 5
Add row: 0
Update phone number: 1
Display whole table: 2
Display phone number: 3
Delete a row: 4
Enter 5 to quit.

Enter your choice: 5