In [1]:
#Table 1, print just the department code and course number, separated by a space

def table1(courses):
    print("Table 1\n")
    
    #loop through all the courses
    for i in courses:
        
        dept_code = i[:2]
        courseNum = i[2:5]
        print(dept_code,courseNum)

In [2]:
#Table 2, print all the data in the string, with a single space between each piece.

def table2(courses):
    print("Table 2\n")
    
    #loop through all the courses
    for i in courses:
        
        dept_code = i[:2]
        courseNum = i[2:5]

        # remaining string as combination of Title and Enrollments
        TitleAndEnrollments = i[5:]

        # loop through TitleAndEnrollments
        for j in range(len(TitleAndEnrollments)):

            # if character is digit/integer
            if TitleAndEnrollments[j].isdigit():

                # get title and enrollment
                title = TitleAndEnrollments[:j]
                enrollment = int(TitleAndEnrollments[j:])
                break
        
        print(dept_code,courseNum,title,enrollment)

In [3]:
#Table3

def table3(courses):
    
    print("Table 3\n")
    
    #loop through all the courses
    total = 0
    for i in courses:
        dept_code = i[:2]
        courseNum = i[2:5]

        # remaining string as combination of Title and Enrollments
        TitleAndEnrollments = i[5:]

        # loop through TitleAndEnrollments
        for j in range(len(TitleAndEnrollments)):

            # if character is digit/integer
            if TitleAndEnrollments[j].isdigit():

                # get title and enrollment
                title = TitleAndEnrollments[:j]
                enrollment = int(TitleAndEnrollments[j:])
                break
                
        total = total + enrollment
        
        # title[:20] will print only first 20 characters
        print("{:<2} {:<3} {:<20} {:>3}".format(dept_code,courseNum,title[:20],enrollment))
        
    print("{:>27} {:>3}".format('Total:',total))

In [4]:
#Table 4, sort the list and print

def table4(courses):
    print("Table 4 ")
    
    data = []
    #loop through all the courses
    for i in courses:
        dept_code = i[:2]
        courseNum = i[2:5]

        # remaining string as combination of Title and Enrollments
        TitleAndEnrollments = i[5:]

        # loop through TitleAndEnrollments
        for j in range(len(TitleAndEnrollments)):

            # if character is digit/integer
            if TitleAndEnrollments[j].isdigit():

                # get title and enrollment
                title = TitleAndEnrollments[:j]
                enrollment = int(TitleAndEnrollments[j:])
                break
                
        # store  dept_code,courseNum,title and enrollment
        data.append((dept_code,courseNum,title,enrollment))
    
    # sort the data on the basis of lenght of title
    data.sort(key=lambda x:len(x[2]),reverse=True)
    
    # print
    for dept_code,courseNum,title,enrollment in data:
        print("{:<2} {:<3} {:<50} {:>3}".format(dept_code,courseNum,title,enrollment))

In [5]:
def main():
    courses = []
    lines = open("courses.txt","r").readlines()
    for line in lines:
        courses.append(line.strip("\n"))
        
    #print(courses)             
    #display table1
    table1(courses)
    print()
    #display table2
    table2(courses)
    print()
    #display table3
    table3(courses)
    print()
    #display table4
    table4(courses)

#call main
main()

Table 1

CS 152
CS 369
CS 352
CS 208
CS 319
MA 221
MA 311
MA 150
CS 335
IS 361
MG 315

Table 2

CS 152 Introduction to Python Programming 21
CS 369 Operating Systems Administration 8
CS 352 Data Structures 19
CS 208 Discrete Mathematics 124
CS 319 Computer Architecture 14
MA 221 Calculus and Analytical Geometry for Majors I 12
MA 311 Linear Algebra 7
MA 150 Precalculus Mathematics 27
CS 335 Introduction to Cybersecurity 20
IS 361 Data Management Systems 22
MG 315 Advanced Business Statistics 6

Table 3

CS 152 Introduction to Pyth  21
CS 369 Operating Systems Ad   8
CS 352 Data Structures       19
CS 208 Discrete Mathematics 124
CS 319 Computer Architectur  14
MA 221 Calculus and Analyti  12
MA 311 Linear Algebra         7
MA 150 Precalculus Mathemat  27
CS 335 Introduction to Cybe  20
IS 361 Data Management Syst  22
MG 315 Advanced Business St   6
                     Total: 280

Table 4
MA 221 Calculus and Analytical Geometry for Majors I       12
CS 152 Introduction to Python Programming                  21
CS 369 Operating Systems Administration                     8
CS 335 Introduction to Cybersecurity                       20
MG 315 Advanced Business Statistics                         6
MA 150 Precalculus Mathematics                             27
IS 361 Data Management Systems                             22
CS 319 Computer Architecture                               14
CS 208 Discrete Mathematics                               124
CS 352 Data Structures                                     19
MA 311 Linear Algebra                                       7