In [1]:
# import the library
import pandas as pd

In [2]:
# read the dataset and store into pandas dataframe
df = pd.read_csv('dataset.csv')

In [3]:
df # display the dataframe

    ID First Name Last Name  Year      Type
0  123     Janye      Smith  2019   Kitchen
1  123     Janye      Smith  2019  Bathroom
2  155      Nancy     Smith  2019   Kitchen
3  144       John     Smith  2019   Kitchen
4  144       John     Smith  2019  Bathroom

In [4]:
# groupby ID and return respective column value as a list
# Name of the new column is Types.It is a list of all Type (Bathroom,Kitchen..etc)
# reset_index is used here to return the result in datframe with proper index starting from 0,1...
df1 = df.groupby('ID')['Type'].apply(list).reset_index(name='Types')

In [5]:
df1

    ID                Types
0  123  [Kitchen, Bathroom]
1  144  [Kitchen, Bathroom]
2  155            [Kitchen]

In [6]:
# Create a new column TypeSet that contains similar data as Types column
# But its Object-type is set (Object-type of Types is list)
# set is a data structure which contains only unique data.
# Doing this so as to take the advantage later.
df1['TypeSet'] = df1.apply(lambda x: set(x['Types']),axis=1)

In [7]:
df1

    ID                Types              TypeSet
0  123  [Kitchen, Bathroom]  {Bathroom, Kitchen}
1  144  [Kitchen, Bathroom]  {Bathroom, Kitchen}
2  155            [Kitchen]            {Kitchen}

In [8]:
# now get the list of all values in a column TypeSet
List_Types=list(df1['TypeSet'])
List_Types

[{'Bathroom', 'Kitchen'}, {'Bathroom', 'Kitchen'}, {'Kitchen'}]

In [9]:
# create a dictionary from df1 using ID as key and value as TypeSet
user_dict = dict(zip(df1.ID, df1.TypeSet))
user_dict

{123: {'Bathroom', 'Kitchen'}, 144: {'Bathroom', 'Kitchen'}, 155: {'Kitchen'}}

In [10]:
# get the unique element from this list
List_Types

[{'Bathroom', 'Kitchen'}, {'Bathroom', 'Kitchen'}, {'Kitchen'}]

In [11]:
# get the unique element,where each element is a object of SET type
unique_data = [set(x) for x in set(tuple(x) for x in List_Types)]

In [12]:
unique_data

[{'Kitchen'}, {'Bathroom', 'Kitchen'}]

In [13]:
# print with proper formatting/spacing
print("{:<50} {:<50} {:<5}".format('FirstName','Types','Count'))
print(120*"*") # print '*' 120 times
# for each element (eg. {'Kitchen'}) in unique_data find its number of occurrences in List_Types
# i.e [{'Bathroom', 'Kitchen'}, {'Bathroom', 'Kitchen'}, {'Kitchen'}]
# and corresponding user first name
for i in unique_data:
    userid=[] # to store all user ID having same Types (Kitchen,Bathroom ..etc)
    # find the count of user having same Types (Kitchen,Bathroom ..etc)
    # to compute this,just find number of times,lets say {Kitchen,Bathroom} occur in List_Types
    count = List_Types.count(i)
    # get the userid for each user having same Types (Kitchen,Bathroom ..etc)
    # store it into userid list
    for key,val in user_dict.items():
        if val==i:
            userid.append(key)
    
    list_Name='' # concatenate all user name having same Types (Kitchen,Bathroom ..etc)
    # list(df[df['ID']==uid].head(1)['First Name'])[0] will give the user first name based on ID
    # eg. list(df[df['ID']==144].head(1)['First Name'])[0] will return 'john'
    for uid in userid:
        list_Name = list_Name + ',' + list(df[df['ID']==uid].head(1)['First Name'])[0]
    # with the given formatting we cannot direclty print set like {'Kitchen'} hence apply str to make it string
    print("{:<50} {:<50} {:<5}".format(list_Name[1:],str(i),count))

FirstName                                          Types                                              Count
************************************************************************************************************************
Nancy                                              {'Kitchen'}                                        1
Janye ,John                                        {'Bathroom', 'Kitchen'}                            2

In [14]:
# get user first name based on ID
list(df[df['ID']==144].head(1)['First Name'])[0]

'John'

In [15]:
# get user first name based on ID
list(df[df['ID']==155].head(1)['First Name'])[0]

'Nancy'