# Dummy dataset creation

In [62]:
# creating a dummy dictionary ebook_labels
ebook_labels = {'EBook1':15,
                'EBOOK2':12,
                'EBOOK3':0,
                'EBOOK4':0,
                'EBOOK5':10
}

In [63]:
ebook_labels

{'EBook1': 15, 'EBOOK2': 12, 'EBOOK3': 0, 'EBOOK4': 0, 'EBOOK5': 10}

In [64]:
ebook = ['EBook1', 'EBOOK2', 'EBOOK21','EBOOK20','EBOOK22','EBOOK8','EBOOK13', 'EBOOK14', 'EBOOK5']
genre = ['Science Fiction','Childrens ebooks','Action & Adventure','Childrens ebooks','Fantasy','Science Fiction','Fantasy','Science Fiction','Childrens ebooks']

In [65]:
import pandas as pd
# create a dummy metadata dataframe to test the code
metadata_df = pd.DataFrame({'ebook':ebook,'genre':genre})

In [66]:
metadata_df

     ebook               genre
0   EBook1     Science Fiction
1   EBOOK2    Childrens ebooks
2  EBOOK21  Action & Adventure
3  EBOOK20    Childrens ebooks
4  EBOOK22             Fantasy
5   EBOOK8     Science Fiction
6  EBOOK13             Fantasy
7  EBOOK14     Science Fiction
8   EBOOK5    Childrens ebooks

# merge_labels function

In [67]:
def merge_labels(metadata,ebook_labels):
    # import library
    import pandas as pd
    # create dataframe using ebook_labels
    ebook_labels_df = pd.DataFrame({'ebook': ebook_labels.keys(),'label':ebook_labels.values()})
    
    # merge metadata and ebook_labels_df dataframe based on ebook column
    # it will create a new dataframe containg ebooks available in both
    # the dataframe i.e metadata and ebook_labels_df, with their respective genre and label
    merged_df = pd.merge(metadata,ebook_labels_df, how='inner', on=['ebook'])
    return merged_df

# Test 1

In [68]:
merge_labels(metadata_df,ebook_labels).head()

    ebook             genre  label
0  EBook1   Science Fiction     15
1  EBOOK2  Childrens ebooks     12
2  EBOOK5  Childrens ebooks     10

# Test 2

In [69]:
# test with ebook_labels dictionary with no key 
merge_labels(metadata_df,{}).head()

Empty DataFrame
Columns: [ebook, genre, label]
Index: []

# Test 3

In [70]:
# test with ebook_labels dictionary with no matching ebook
merge_labels(metadata_df,{'NewBook':1}).head()

Empty DataFrame
Columns: [ebook, genre, label]
Index: []