In [50]:
# importing the library
import pandas as pd

# Read the file

In [51]:
# read the text file using read_csv with separator as tab as data is tab separated.
# also included the list of column names ["Date", "Time", "(F) m^3/h"]
try:
    df = pd.read_csv('FlowData.txt', sep='\t',names=["Date", "Time", "(F) m^3/h"]) # read the file
except:
    print('File not found')

In [52]:
df

         Date      Time  (F) m^3/h
0  01/04/2021  10:15:46    50.6221
1  01/04/2021  10:15:47    50.6098
2  01/04/2021  10:15:48    50.5353
3  01/04/2021  10:15:49    50.5856

# Covert flow rate

In [53]:
# convert m^3/h to liters/s
df['(F) liters/s'] = round(df['(F) m^3/h']*1000/3600,2)

In [54]:
df

         Date      Time  (F) m^3/h  (F) liters/s
0  01/04/2021  10:15:46    50.6221         14.06
1  01/04/2021  10:15:47    50.6098         14.06
2  01/04/2021  10:15:48    50.5353         14.04
3  01/04/2021  10:15:49    50.5856         14.05

# Compute f/(f-50.285)

In [55]:
# compute f/(f-50.285) using F in m^3/h
# also handling the Divide by zero error
try:
    df['x= F/(F-50.285)'] = round(df['(F) m^3/h'] / (df['(F) m^3/h'] - 50.285),2)
except ZeroDivisionError:
    print("Divide by zero")

# save to file

In [56]:
# save the data into text file called FlowProcessed.txt
# mode is w (i.e write),any existing file with same name will be overwritten
df.to_csv(r'FlowProcessed.txt', index=None, sep='\t', mode='w')