In [1]:
import introcs
def second_in_list(s):
    """
    Returns: the second item in comma-separated list
    The final result should not have any whitespace around the edges.

    Example: second_in_list('apple, banana, orange') returns 'banana'
    Example: second_in_list(' do , re , me , fa ') returns 're'
    Example: second_in_list('z,y,x,w') returns 'y'
    Parameter s: The list of items

    Precondition: s is a string of at least three items separated by commas.

    """
    first = introcs.find_str(s,',') # get index of first comma
    second = introcs.find_str(s,',',first+1) # get index of second comma
    
    # get 2nd item with leading and trailing whitespaces removed
    slice = introcs.strip(s[first+1:second]) 
    result  = slice
    return result # return 2nd item

In [2]:
second_in_list('apple, banana, orange')

'banana'

In [3]:
second_in_list("Billy, Andrew, Taylor")

'Andrew'

In [4]:
second_in_list("apple,    fig, orange")

'fig'

In [5]:
second_in_list("apple,  fig, banana")

'fig'

In [6]:
second_in_list("apple,  fig, banana, orange")

'fig'

In [7]:
second_in_list(' do , re , me , fa ')

're'

In [8]:
second_in_list('z,y,x,w')

'y'

# Testing

In [9]:
def test_second_in_list():
    
    print('Testing second_in_list')
    result = second_in_list('apple, banana, orange')
    introcs.assert_equals('banana',result)

    result = second_in_list("Billy, Andrew, Wendy")
    introcs.assert_equals('Andrew',result)

    result = second_in_list("apple,    fig, orange")
    introcs.assert_equals('fig',result)

    result = second_in_list("apple,  fig, banana")
    introcs.assert_equals('fig',result)

    result = second_in_list("apple,  fig, banana, orange")
    introcs.assert_equals('fig',result)

    result = second_in_list(' do , re , me , fa ')
    introcs.assert_equals('re',result)

    result = second_in_list('z,y,x,w')
    introcs.assert_equals('y',result)

In [10]:
test_second_in_list()
print('Module func is working correctly')

Testing second_in_list
Module func is working correctly