In [1]:
# import the library
import pandas as pd
import numpy as np

In [2]:
# read the excel data
df = pd.read_excel('Bank_Personal_Loan_Modelling.xlsx',sheet_name='Data')

# Display few rows
df.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [4]:
df.describe()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,5000.000000,5000.000000
mean,2500.500000,45.338400,20.104600,73.774200,93152.503000,2.396400,1.937913,1.881000,56.498800,0.096000,0.104400,0.06040,0.596800,0.294000
std,1443.520003,11.463166,11.467954,46.033729,2121.852197,1.147663,1.747666,0.839869,101.713802,0.294621,0.305809,0.23825,0.490589,0.455637
min,1.000000,23.000000,-3.000000,8.000000,9307.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,1250.750000,35.000000,10.000000,39.000000,91911.000000,1.000000,0.700000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
50%,2500.500000,45.000000,20.000000,64.000000,93437.000000,2.000000,1.500000,2.000000,0.000000,0.000000,0.000000,0.00000,1.000000,0.000000
75%,3750.250000,55.000000,30.000000,98.000000,94608.000000,3.000000,2.500000,3.000000,101.000000,0.000000,0.000000,0.00000,1.000000,1.000000
max,5000.000000,67.000000,43.000000,224.000000,96651.000000,4.000000,10.000000,3.000000,635.000000,1.000000,1.000000,1.00000,1.000000,1.000000

In [3]:
# get target (y) and features (X) values
y = df['Personal Loan'].values
X = df.drop('Personal Loan',axis=1).values

# get feature dataframe
features = df.drop('Personal Loan',axis=1)

In [4]:
# split the data into training and test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30, random_state = 42)

In [5]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [6]:
# Build a Logistic Regression model
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 42)

In [7]:
# important feature selection
from sklearn.feature_selection import SelectFromModel

# max_features we need to choose is 3
smf  = SelectFromModel(classifier, threshold=-np.inf,max_features=3)

# fit the model on training set
smf.fit(X_train, y_train)

# get the feature important as True/False
indx = smf.get_support()

# get the name of top features to choose for prediction of loan approval
print(list(features.columns[indx]))

['Income', 'Education', 'CD Account']

In [11]:
smf.estimator_

LogisticRegression(random_state=42)

In [12]:
smf.get_support()

array([False, False, False,  True, False, False, False,  True, False,
       False,  True, False, False])

In [13]:
classifier.fit(X_train, y_train)

LogisticRegression(random_state=42)

In [22]:
classifier.coef_

array([[-0.10186016, -0.18499164,  0.33046895,  2.35055913, -0.09652764,
         0.78305957,  0.21215614,  1.3344762 ,  0.06493337, -0.29663319,
         0.86589873, -0.26434537, -0.52420663]])

In [28]:
for f,c in zip(features.columns,classifier.coef_[0]):
    print("{:<20} {:<30}".format(f,c))

ID                   -0.10186015695890305
Age                  -0.18499163906921517
Experience           0.33046895069255483
Income               2.3505591341621765
ZIP Code             -0.09652763729639438
Family               0.7830595658388205
CCAvg                0.2121561432697522
Education            1.3344762035540385
Mortgage             0.06493337106114808
Securities Account   -0.29663319389680765
CD Account           0.8658987312538273
Online               -0.26434536507420686
CreditCard           -0.5242066299222148

In [15]:
for i in range(len(features.columns)):

Index(['ID', 'Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Securities Account', 'CD Account', 'Online',
       'CreditCard'],
      dtype='object')

In [20]:
classifier.coef_[0][0]

-0.10186015695890305