In [1]:
# import the library
import pandas as pd

# load the dataset
df = pd.read_csv('SalaryData.csv')

In [2]:
df.head() # display few rows

    Education     Occupation  Salary
0   Doctorate   Adm-clerical  153197
1   Doctorate   Adm-clerical  115945
2   Doctorate   Adm-clerical  175935
3   Doctorate   Adm-clerical  220754
4   Doctorate          Sales  170769

In [3]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

# Ordinary Least Squares model and one way ANOVA
model = ols('Salary ~ C(Occupation)', data=df).fit()
aov_table = sm.stats.anova_lm(model, typ=2)
aov_table

                     sum_sq    df         F    PR(>F)
C(Occupation)  1.125878e+10   3.0  0.884144  0.458508
Residual       1.528092e+11  36.0       NaN       NaN

In [4]:
# Add another column called mean_sq
aov_table['mean_sq'] = aov_table['sum_sq']/aov_table['df']

# get the aov_table with column arranged
aov_table = aov_table[['df','sum_sq', 'mean_sq', 'F', 'PR(>F)']]
aov_table

                 df        sum_sq       mean_sq         F    PR(>F)
C(Occupation)   3.0  1.125878e+10  3.752928e+09  0.884144  0.458508
Residual       36.0  1.528092e+11  4.244701e+09       NaN       NaN