In [2]:
pd.read_csv('relay.csv')

  relay result Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4
0       school       leg1       leg2       leg3       leg4
1          USC      11.63        5.6      11.63        6.9
2          LSU       10.8      11.63        5.8       47.5
3          ABC      11.63       10.8        8.3        9.6
4          BCA       10.8        8.1       10.7        5.6
5          XYZ        9.5      11.63        5.1        9.3
6          ZYX        8.6        6.8        5.8      11.63
7          PQR        9.2        6.9        5.9       10.8

In [48]:
# read the data file
with open('TrackData.csv', 'r') as file:
        track_data = file.readlines() 

# remove first two rows,as it contains column name(Leg1,Leg2..) and Results Women.. title.
track_data = track_data[2:] 

#storing data into list,excluding last character of every rows i.e \n
data_list = [i[:-1].split(',') for i in track_data] 

# Print Formatting
print(f'{"School":20} {"Total":10} {"Avg":10}')
print(f'{"------":20} {"-----":10} {"---":10}')

# going through every list element and find Total and Average
# list element contains data as string.
# convert (leg1,leg2,leg3,leg4) it to float before applying mathematical operations.

for i in data_list:
    temp_int_list = [float(j) for j in i[1:]]
    Total = sum(temp_int_list)
    Avg = sum(temp_int_list)/4
    
    # {20},{10},{7} is for print formatting,it represents number of space given to them.
    # < : means left align ormat(321,".2f"))
    # format(22.2, ".2f") return 22.20, format to 2 decimal places
    print(f'{i[0]:<{20}} {format(Total,".2f"):<{10}} {format(Avg,".3f"):<{10}}')

School               Total      Avg
------               -----      ---
USC                  35.76      8.940
LSU                  75.73      18.933
ABC                  40.33      10.082
BCA                  35.20      8.800
XYZ                  35.53      8.883
ZYX                  32.83      8.207
PQR                  32.80      8.200

In [ ]:
print(f'{book[0]:{10}} {book[1]:{10}} {book[2]:.>{7}}')

In [39]:
with open('relay.csv', 'r') as file:
        track_data = file.readlines()

In [40]:
track_data

['relay result,,,,\n',
 'school,leg1,leg2,leg3,leg4\n',
 'USC,11.63,5.6,11.63,6.9\n',
 'LSU,10.8,11.63,5.8,47.5\n',
 'ABC,11.63,10.8,8.3,9.6\n',
 'BCA,10.8,8.1,10.7,5.6\n',
 'XYZ,9.5,11.63,5.1,9.3\n',
 'ZYX,8.6,6.8,5.8,11.63\n',
 'PQR,9.2,6.9,5.9,10.8\n']