In [1]:
# import library
import numpy as np
import pandas as pd
# set the seed  value so as to reproduce the similar result.
np.random.seed(100)
start_date = np.datetime64('2020-01-01')
end_date = np.datetime64('2020-03-31')
max_stock_price = 500
min_stock_price = 1
n=3
initial_wealth = 1000

# a

In [2]:
# generate list of date 
list_of_date = pd.period_range(start_date,end_date)

In [3]:
# generate list of stock prices
stock_prices=[]
for i in range(len(list_of_date)):
    stock_prices.append(np.random.randint(min_stock_price, max_stock_price))

# b

In [4]:
df = pd.DataFrame(stock_prices,index=list_of_date,columns=['price'])

In [5]:
# pct_change: compute a percentage change between the current and a previous price
# return is in %
df['return'] = df.pct_change()*100
df.dropna(inplace=True)

In [6]:
df

            price       return
2020-01-02    281  3022.222222
2020-01-03    324    15.302491
2020-01-04    360    11.111111
2020-01-05    344    -4.444444
2020-01-06     80   -76.744186
...           ...          ...
2020-03-27    489    12.413793
2020-03-28    348   -28.834356
2020-03-29    476    36.781609
2020-03-30    468    -1.680672
2020-03-31    182   -61.111111

[90 rows x 2 columns]

# c

In [7]:
df_temp = df.copy()# make a copy of the dataframe

In [8]:
# reset the index so as to make the index like 0,1,2,3.....
df_temp.reset_index(inplace=True)

In [9]:
indx=[] # store the index where there are 3 consecutive days of price increase
for i in range(len(df_temp)-2):
    if df_temp.iloc[i,2]>0 and df_temp.iloc[i+1,2]>0 and df_temp.iloc[i+2,2]>0:
        indx.append(i)

In [10]:
indx

[0, 29, 58, 62, 82, 83]

In [11]:
date_list=[] # store the date where there are 3 consecutive days of price increase
for i in indx:
    date_list.append(str(df_temp.iloc[i,0]))

In [12]:
date_list

['2020-01-02',
 '2020-01-31',
 '2020-02-29',
 '2020-03-04',
 '2020-03-24',
 '2020-03-25']

# d

In [13]:
# initial_wealth = 1000
# consider that trader is buying the stock at closing price of 3rd day 
# and selling it at closing price 4th day.
for i in indx:
    if (i+3) < len(df_temp):
        initial_wealth = initial_wealth + initial_wealth*df_temp.iloc[i+3,2]/100
print('wealth of the trader on end date: $',round(initial_wealth,2))

wealth of the trader on end date: $ 380.26