In [1]:
import pandas as pd
import numpy as np
import math
# input query and dataset
d0 = InputQuery = 'How do I control my horny emotions?'.split()
d1='What can cause stool to come out as little balls?'.split()
d2='What can cause stool to come out as little balls?'.split()
d3='How can I move to Jamaica'.split()
d4='Is there any evidence of alien life  in space'.split()

In [2]:
# create a vocabulary set
word = set().union(*[d0,d1,d2,d3,d4])

In [3]:
word

{'How',
 'I',
 'Is',
 'Jamaica',
 'What',
 'alien',
 'any',
 'as',
 'balls?',
 'can',
 'cause',
 'come',
 'control',
 'do',
 'emotions?',
 'evidence',
 'horny',
 'in',
 'life',
 'little',
 'move',
 'my',
 'of',
 'out',
 'space',
 'stool',
 'there',
 'to'}

In [3]:
# create a dataframe 
df = pd.DataFrame(word,columns=['Term'])

In [4]:
# find term frequency and store in separate columns
# term frequency is (number of times a term appeared in document)/(Total number of term in that document)
df['TF_d0'] = round(df.Term.map(lambda x: d0.count(x)/len(d0)),2)
df['TF_d1'] = round(df.Term.map(lambda x: d1.count(x)/len(d1)),2)
df['TF_d2'] = round(df.Term.map(lambda x: d2.count(x)/len(d2)),2)
df['TF_d3'] = round(df.Term.map(lambda x: d3.count(x)/len(d3)),2)
df['TF_d4'] = round(df.Term.map(lambda x: d4.count(x)/len(d4)),2)

In [5]:
df.head(5) # display few rows

    Term  TF_d0  TF_d1  TF_d2  TF_d3  TF_d4
0     do   0.14    0.0    0.0   0.00   0.00
1   come   0.00    0.1    0.1   0.00   0.00
2    can   0.00    0.1    0.1   0.17   0.00
3     in   0.00    0.0    0.0   0.00   0.11
4  there   0.00    0.0    0.0   0.00   0.11

In [6]:
# find,in how many documents a given term has appeared
# and store in dictionary as key value pair
doc_list=[d0,d1,d2,d3,d4]
dict_term={}
for i in word:
    dict_term[i]=0
    for j in doc_list:
        if i in j:
            dict_term[i] +=1

In [7]:
# key as term and value as number of document it appeared in 
dict_term

{'do': 1,
 'come': 2,
 'can': 3,
 'in': 1,
 'there': 1,
 'out': 2,
 'little': 2,
 'life': 1,
 'space': 1,
 'as': 2,
 'move': 1,
 'any': 1,
 'Is': 1,
 'How': 2,
 'stool': 2,
 'alien': 1,
 'emotions?': 1,
 'control': 1,
 'balls?': 2,
 'I': 2,
 'evidence': 1,
 'cause': 2,
 'Jamaica': 1,
 'my': 1,
 'horny': 1,
 'to': 3,
 'of': 1,
 'What': 2}

In [8]:
# find idf i.e inverse document frequency
# idf = log((Total number of document in dataset)/number of document a term appeared in))
# here log base 10 is considered
# total number of document : 5
# round(x,3) : round x to 3 decimal places
df['IDF'] = round(df.Term.map(lambda x: math.log(5/dict_term[x],10)),3)

In [9]:
# find tf-idf for each docuemnt
# tfidf is product of term frequency and idf
df['TD-IDF_D0'] = round(df['TF_d0'] * df['IDF'],3)
df['TD-IDF_D1'] = round(df['TF_d1'] * df['IDF'],3)
df['TD-IDF_D2'] = round(df['TF_d2'] * df['IDF'],3)
df['TD-IDF_D3'] = round(df['TF_d3'] * df['IDF'],3)
df['TD-IDF_D4'] = round(df['TF_d4'] * df['IDF'],3)

In [10]:
df.head(5) # display few rows

,Term,TF_d0,TF_d1,TF_d2,TF_d3,TF_d4,IDF,TD-IDF_D0,TD-IDF_D1,TD-IDF_D2,TD-IDF_D3,TD-IDF_D4
0,do,0.14,0.0,0.0,0.00,0.00,0.699,0.098,0.000,0.000,0.000,0.000
1,come,0.00,0.1,0.1,0.00,0.00,0.398,0.000,0.040,0.040,0.000,0.000
2,can,0.00,0.1,0.1,0.17,0.00,0.222,0.000,0.022,0.022,0.038,0.000
3,in,0.00,0.0,0.0,0.00,0.11,0.699,0.000,0.000,0.000,0.000,0.077
4,there,0.00,0.0,0.0,0.00,0.11,0.699,0.000,0.000,0.000,0.000,0.077

In [11]:
# store tfidf columan name except for TD-IDF_D0
tfidf_vector_column = list(df)[-4:]

In [12]:
InputQuery_tfidf_vector = np.array(df['TD-IDF_D0'])
# cosine similarity(x,y) = x.dot(y) / (sum(x**2) + sum(y**2))
# to find cosine similarity between two vectors
cos_similarity=[]
for col_name in tfidf_vector_column:
    doc_vector = np.array(df[col_name])
    cos_similarity.append(
        InputQuery_tfidf_vector.dot(doc_vector) / (sum(InputQuery_tfidf_vector**2) + sum(doc_vector**2)))

indx = cos_similarity.index(max(cos_similarity)) + 1    
# create a document name
s='d'+str(indx) # eg. d2,d3 etc
print("Similar sentence for 'How do I control my horny emotions?' is:- ",' '.join(eval(s)))

Similar sentence for 'How do I control my horny emotions?' is:-  How can I move to Jamaica