# Create a dummy dataframe for testing

In [56]:
import pandas as pd
data = {'x1': [1.5,2.5,3.5,4.5], 
       'x2' : [2.354,3.314,4.021,float('NaN')], 
       'x3' : ["COLD", "WARM", "COLD","COLD"], 
       'x4' : [593,340,551,2368],
       'x5' : [0.7500, 2.0833, 4.0833,6.7500]}

In [57]:
df=pd.DataFrame(data)
df

    x1     x2    x3    x4      x5
0  1.5  2.354  COLD   593  0.7500
1  2.5  3.314  WARM   340  2.0833
2  3.5  4.021  COLD   551  4.0833
3  4.5    NaN  COLD  2368  6.7500

# Code

In [58]:
from sklearn.base import BaseEstimator, TransformerMixin
class Assignment4Transformer(BaseEstimator, TransformerMixin):
    def __init__(self, del_x4 = True):
        self.del_x4 = del_x4
        
    def fit(self, dataframe, y=None):
        return self 
    
    def transform(self, dataframe):
        if self.del_x4 == True:
            
            # drop x4 column
            dataframe.drop(columns=['x4'],inplace=True)
        
        # Drop rows containing NaN
        dataframe.dropna(inplace=True)
        
        # create new column x6
        dataframe['x6'] = (dataframe['x1']**3) / dataframe['x5']
        return dataframe

In [59]:
obj1 = Assignment4Transformer() # As default value is True, it will delete x4 column

In [60]:
obj1.transform(df)

    x1     x2    x3      x5         x6
0  1.5  2.354  COLD  0.7500   4.500000
1  2.5  3.314  WARM  2.0833   7.500120
2  3.5  4.021  COLD  4.0833  10.500086

In [61]:
df=pd.DataFrame(data) # again create a fresh dataframe

obj2 = Assignment4Transformer(False) # preserve x4 column
obj2.transform(df)

    x1     x2    x3   x4      x5         x6
0  1.5  2.354  COLD  593  0.7500   4.500000
1  2.5  3.314  WARM  340  2.0833   7.500120
2  3.5  4.021  COLD  551  4.0833  10.500086