# Given a Phone number in the format +91-0431-2503333 split them and store in a tuple  and identify the country.

In [1]:
mylist = [(91,'india') , (92,'ABC')  ,(93,'ADC') , (95,'XYZ') ]

In [11]:
mylist

[(91, 'india'), (92, 'ABC'), (93, 'ADC'), (95, 'XYZ')]

In [27]:
a = '+91-0431-2503333'

In [28]:
b=a.split('-')
b

['+91', '0431', '2503333']

In [9]:
c = b[0][1:]

In [10]:
c

'91'

In [12]:
mylist

[(91, 'india'), (92, 'ABC'), (93, 'ADC'), (95, 'XYZ')]

In [14]:
for i in mylist:
    if i[0]== int(c):
        print(i[1])

india

In [24]:
n=6

In [25]:
s=1
for i in range(1,n+1):
    s=s*i

In [29]:
def fact(n):
    if n==1:
        return 1
    return n*fact(n-1)

In [31]:
fact(6)

720

In [26]:
6*fact(5)

720

In [ ]:
7*fact(6)
8*fact(7)

In [ ]:
[1,2,6,24,120,720,abc]

In [ ]:
import pandas as pd

# Given a list of list of phone numbers of vaccinated people, identify who has taken the 2 doses of  vaccination.

In [49]:
mylist = [[1,2,3,4,5] ,[5,6,7,1,2]]

In [50]:
a=mylist[0] + mylist[1]

In [51]:
a

[1, 2, 3, 4, 5, 5, 6, 7, 1, 2]

In [52]:
a.count(5)

2

In [53]:
b=set()
for i in a:
    if a.count(i)==2:
        b.add(i)

In [54]:
b

{1, 2, 5}

In [59]:
i=1
j=3

In [60]:
input("Enter the question {} {}: ".format(i,j) )

Enter the question 1 3: 4

'4'

In [61]:
import pandas as pd

In [62]:
pd.read_html('https://www.gutenberg.org/files/65493/65493-h/65493-h.htm')

[                                                 0                        1  \
 0     FRONTISPIECE (Priscilla and the Hopolanthus)        Anna Whelan Betts
 1                    Priscilla and the Hopolanthus            Sidney Marlow
 2   JUNE (Selected from the Vision of Sir Launfal)                   Lowell
 3         WITH WASHINGTON AT VALLEY FORGE (Serial)           W. Bert Foster
 4                      Illustrated by F. A. Carter                      NaN
 5                             A PROVIDENTIAL SPARK   William Murray Graydon
 6                A DAUGHTER OF THE FOREST (Serial)           Evelyn Raymond
 7                       Illustrated by J. H. Betts                      NaN
 8                                   SIX (Selected)          Minot J. Savage
 9                                   WOOD-FOLK TALK        J. Allison Atwood
 10                  LITTLE POLLY PRENTISS (Serial)  Elizabeth Lincoln Gould
 11                        Illustrated by Ida Waugh                      NaN
 12                                    JUNE MEADOWS      Julia McNair Wright
 13                   Illustrated by Nina G. Barlow                      NaN
 14                                 WITH THE EDITOR                      NaN
 15                               EVENT AND COMMENT                      NaN
 16               IN-DOORS (Parlor Magic, Paper IV)            Ellis Stanyon
 17                         THE OLD TRUNK (Puzzles)                      NaN
 18                              WITH THE PUBLISHER                      NaN

        2
 0   PAGE
 1    115
 2    118
 3    119
 4    NaN
 5    128
 6    131
 7    NaN
 8    140
 9    141
 10   143
 11   NaN
 12   150
 13   NaN
 14   152
 15   153
 16   154
 17   155
 18   156  ,
      0    1    2  3    4    5    6
 0  NaN  NaN  NaN  S  NaN  NaN  NaN
 1  NaN  NaN    D  A    M  NaN  NaN
 2  NaN    D    A  M    E    S  NaN
 3    S    A    M  P    L    E    S
 4  NaN    M    E  L    E    E  NaN
 5  NaN  NaN    S  E    E  NaN  NaN
 6  NaN  NaN  NaN  S  NaN  NaN  NaN,
    0  1  2  3  4
 0  X  .  .  .  .
 1  .  X  .  .  .
 2  X  .  .  .  .
 3  .  X  .  .  .
 4  X  .  .  .  .]

In [67]:
print('hello','\n')
print('aa')

hello

aa