In [69]:
import sqlite3
conn = sqlite3.connect('example1.db')
cursor = conn.cursor()
cursor.execute("DROP TABLE IF EXISTS Entries")

In [70]:
sql ='''CREATE TABLE Entries(
   PERSON_NAME CHAR(20) NOT NULL,
   PHONE_NO INT NOT NULL
)'''
cursor.execute(sql)

In [71]:
# add rows

In [72]:
cursor.execute('''INSERT INTO Entries(
   PERSON_NAME, PHONE_NO) VALUES 
   ('ABC',1234567890)''')

In [73]:
cursor.execute("SELECT * from Entries")

In [74]:
print(cursor.fetchall())

[('ABC', 1234567890)]

In [75]:
a='hello'
b=1252524152

In [76]:
sql = """INSERT INTO Entries(
   PERSON_NAME, PHONE_NO) VALUES 
   (?,?);"""
project = ('Hello',857474)
cursor.execute(sql, project)

In [90]:
conn.commit()

#Closing the connection
conn.close()

In [118]:
conn = sqlite3.connect('example1.db')
cursor = conn.cursor()

In [121]:
cursor.execute("SELECT * from Entries")
print(cursor.fetchall())

[]

In [88]:
sql= "SELECT * from Entries where PERSON_NAME= ?"
project = ('ABC',)
cursor.execute(sql, project)

In [89]:
print(cursor.fetchall())

[('ABC', 1234567890)]

In [94]:
sql = "UPDATE Entries SET PHONE_NO=? WHERE PHONE_NO = ?"
project = (987456,1234567890)
cursor.execute(sql,project)
print("Table updated...... ")

Table updated......

In [123]:
conn.commit()

#Closing the connection
conn.close()

ProgrammingError: Cannot operate on a closed database.

In [120]:
sql = "DELETE FROM Entries WHERE PHONE_NO = ?"
project = (857474,)
cursor.execute(sql,project)
print("row deleted...... ")

row deleted......