In [1]:
# Link of Dataset https://www.kaggle.com/rakeshrau/social-network-ads

In [5]:
# import library
import pandas as pd

In [6]:
# load the dataset and create dataframe
df = pd.read_csv('Social_Network_Ads.csv')
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [11]:
# Get Age and EstimatedSalary as input feature
X = df[['Age','EstimatedSalary']].values
from sklearn.cluster import KMeans
# and Purchased as Target
y = df['Purchased'].values

In [13]:
kmeans = KMeans(n_clusters = 2, init = 'k-means++', random_state = 42)

In [17]:
labels_pred = kmeans.fit_predict(X)

In [18]:
metrics.fowlkes_mallows_score(labels_pred, labels_pred)

1.0

In [16]:
 from sklearn import metrics

In [4]:
# Split the dataset into training and test set
# 70% for training and 30% for testing.

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30, random_state = 0)

In [6]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# SVM Model

In [7]:
# Fit SVM Model to the Training set
from sklearn.svm import SVC
SVM_classifier = SVC(random_state = 42)
SVM_classifier.fit(X_train, y_train)

SVC(random_state=42)

In [8]:
# Prediction on Test set
y_pred = SVM_classifier.predict(X_test)

In [9]:
# Confusion Matrix
from sklearn.metrics import confusion_matrix,accuracy_score
confusion_matrix = confusion_matrix(y_test, y_pred)
confusion_matrix

array([[72,  7],
       [ 4, 37]], dtype=int64)

In [10]:
accuracy_score(y_test, y_pred)

0.9083333333333333

In [11]:
# round(x,3) : Round the number x to 3 decimal places.

print('SVM Model Accuracy is : ',round(accuracy_score(y_test, y_pred),3))

SVM Model Accuracy is :  0.908

# KNN Model

In [12]:
# Fit the KNN Model on training set
from sklearn.neighbors import KNeighborsClassifier
KNN_classifier = KNeighborsClassifier()
KNN_classifier.fit(X_train, y_train)

KNeighborsClassifier()

In [13]:
# Prediction on test set
y_pred = KNN_classifier.predict(X_test)

In [14]:
# Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [15]:
accuracy_score(y_test, y_pred)

0.9166666666666666

In [16]:
# round(x,3) : Round the number x to 3 decimal places.

print('KNN Model Accuracy is : ',round(accuracy_score(y_test, y_pred),3))

KNN Model Accuracy is :  0.917

- Hence it is clear from the above two Models that the KNN performs better on the given dataset