In [11]:
from collections import OrderedDict

def write_roman(num):

    roman = OrderedDict()
    roman[1000] = "M"
    roman[900] = "CM"
    roman[500] = "D"
    roman[400] = "CD"
    roman[100] = "C"
    roman[90] = "XC"
    roman[50] = "L"
    roman[40] = "XL"
    roman[10] = "X"
    roman[9] = "IX"
    roman[5] = "V"
    roman[4] = "IV"
    roman[1] = "I"

    def roman_num(num):
        for r in roman.keys():
            x, y = divmod(num, r)
            yield roman[r] * x
            num -= (r * x)
            if num <= 0:
                break

    return "".join([a for a in roman_num(num)])

In [12]:
write_roman(541)

'DXLI'

In [13]:
import pandas as pd

In [17]:
df = pd.read_csv('https://www.ohio.edu/mechanical/thermo/property_tables/H2O/H2O_PresSat1.html')

In [18]:
df

                                              <HTML>
0                                               <HEAD>
1      <META NAME="GENERATOR" CONTENT="Adobe PageMi...
2      <TITLE>Saturation Properties for Steam (Pres...
3                                              </HEAD>
4                             <BODY BGCOLOR="#ffffff">
..                                                 ...
876                                              </UL>
877  <P><FONT SIZE="+1">Source of data: <B><A HREF=...
878  Chemistry WebBook</A></B> - accessed Jan 2008<...
879                                            </BODY>
880                                            </HTML>

[881 rows x 1 columns]

In [24]:
s='x*np.sin(x**2)'

In [28]:
x=3
import numpy as np
eval(s)

1.2363554557252698

In [29]:
np.sin(3)

0.1411200080598672

In [30]:
exec(s)

In [33]:
getattr(x,s)

AttributeError: 'int' object has no attribute 'x*np.sin(x**2)'

In [ ]:
TotalExpenses = 100