In [1]:
import pandas as pd

In [4]:
df=pd.read_csv('Social_Network_Ads.csv')

In [5]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [7]:
list(G.nodes)

['a', 'b', 'c', 1, 2, 'd', 'e']

In [8]:
list(G.edges)

[('a', 'b'), (1, 2), ('d', 'e')]

In [6]:
import networkx as nx

G=nx.Graph()
G.add_node("a")
G.add_nodes_from(["b","c"])

G.add_edge(1,2)
edge = ("d", "e")
G.add_edge(*edge)
edge = ("a", "b")
G.add_edge(*edge)

print("Nodes of graph: ")
print(G.nodes())
print("Edges of graph: ")
print(G.edges())

Nodes of graph:
['a', 'b', 'c', 1, 2, 'd', 'e']
Edges of graph:
[('a', 'b'), (1, 2), ('d', 'e')]

In [9]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [11]:
df.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [15]:
df.loc[2,'Age']

26

In [ ]:
# line 93

color_map=[]
for node in G:
    
    # loc is to access a group of rows and columns by label
    # blank in key = node_df.____[node,col] will be replaced by loc
    
    key = node_df.loc[node,col]
    
    # color_map.____(____[key])
    # key is mentioned in [key],hence 
    # this key is meaningful only when we use dictionary,i.e dict[key].
    # dict[key] contains color according to line 105.
    # and since color_map is a list,hence color_map.___(some_color_from_dictionary)
    # according to line 108, color_map[:10] return list of colors like ['red','blue','blue','green'.....]
    # it means,these color must be stored somehow in the color_map
    # hence append function can be used.
    color_map.append(dict[key])

In [ ]:
df.loc