In [11]:
try: # try-except block to handle exception.
    
    n = int(input('Enter the number of Students:'))

    name= []
    gpa = []

    # prompt for name and gpa and store it into the lists.
    for i in range(n):
        s_name = input('Name of student {} :'.format(i+1))
        name.append(s_name)
        s_gpa = float(input('GPA of the student {} :'.format(i+1)))
        print()
        gpa.append(s_gpa)

    # compute min and max gpa
    min_gpa = min(gpa)
    max_gpa = max(gpa)

    # compute index of max and min gpa
    index_min_gpa = gpa.index(min_gpa)
    index_max_gpa = gpa.index(max_gpa)

    print('Minimum GPA: {} scored by {}'.format(min_gpa,name[index_min_gpa]))
    print('Maximum GPA: {} scored by {}'.format(max_gpa,name[index_max_gpa]))

    # compute average of gpa
    average_gpa = sum(gpa)/len(gpa)

    print('Average GPA: ',average_gpa)
except:
    print('Wrong input')

Enter the number of Students:5
Name of student 1 :ABC
GPA of the student 1 :3.4

Name of student 2 :ACC
GPA of the student 2 :3.2

Name of student 3 :PQR
GPA of the student 3 :1.2

Name of student 4 :XYZ
GPA of the student 4 :4

Name of student 5 :ACB
GPA of the student 5 :3

Minimum GPA: 1.2 scored by PQR
Maximum GPA: 4.0 scored by XYZ
Average GPA:  2.96

In [ ]:
number_to_search = [2,5,4,8,9]
dict_memoization = {}
for num in number_to_search:
    if num in dict_memoization:
        print(dict_memoization[num])
    else:
        print(findNumberInSortedList(num,lst))
        dict_memoization[num] =  findNumberInSortedList(num,lst)

In [ ]:
# https://www.kaggle.com/rakeshrau/social-network-ads

In [12]:
# 
import pandas as pd

In [13]:
df = pd.read_csv('Social_Network_Ads.csv')

In [14]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [39]:
X = df.iloc[:, [2, 3]].values
y = df.iloc[:, 4].values

In [40]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25,shuffle=True)

In [41]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [42]:
# Fitting Logistic Regression to the Training set
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 0)
classifier.fit(X_train, y_train)

LogisticRegression(random_state=0)

In [43]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)

In [44]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score
cm = confusion_matrix(y_test, y_pred)

In [45]:
cm

array([[59,  8],
       [ 9, 24]], dtype=int64)

In [46]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.87      0.88      0.87        67
           1       0.75      0.73      0.74        33

    accuracy                           0.83       100
   macro avg       0.81      0.80      0.81       100
weighted avg       0.83      0.83      0.83       100

In [47]:
accuracy_score(y_test,y_pred)

0.83

- Hence, Accuracy of the model on test set is 83% and this model can be used to predict whether the customer will purchase a particular product or not.