In [1]:
#1
lst_of_course = ['abc','xyz','pqr']
college_name = 'Walsh'

In [2]:
#2
lst_of_course.sort()
for i in lst_of_course:
    print("I have taken {} at {} College.".format(i.upper(),college_name))

I have taken ABC at Walsh College.
I have taken PQR at Walsh College.
I have taken XYZ at Walsh College.

In [3]:
#3
lst_of_course.append('newcourse-1')
lst_of_course.append('newcourse-2')
lst_of_course.sort()
print('This is my course of study with upcoming courses added:')
for i in lst_of_course:
    print("I have taken {} at {} College.".format(i.upper(),college_name))

This is my course of study with upcoming courses added:
I have taken ABC at Walsh College.
I have taken NEWCOURSE-1 at Walsh College.
I have taken NEWCOURSE-2 at Walsh College.
I have taken PQR at Walsh College.
I have taken XYZ at Walsh College.

In [4]:
#4
already_taken_course=['pqr','newcourse-2']
print("I do not have to take these courses:")
for i in already_taken_course:
    if i in lst_of_course:
        lst_of_course.remove(i)
        print(i)

I do not have to take these courses:
pqr
newcourse-2

In [5]:
#5
print("I plan to take the following courses next term")
for i in lst_of_course:
    print(i)

I plan to take the following courses next term
abc
newcourse-1
xyz

In [6]:
#6 
lst_1000 = list(range(0,1001,6))[1:]
lst_1000

[6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 60,
 66,
 72,
 78,
 84,
 90,
 96,
 102,
 108,
 114,
 120,
 126,
 132,
 138,
 144,
 150,
 156,
 162,
 168,
 174,
 180,
 186,
 192,
 198,
 204,
 210,
 216,
 222,
 228,
 234,
 240,
 246,
 252,
 258,
 264,
 270,
 276,
 282,
 288,
 294,
 300,
 306,
 312,
 318,
 324,
 330,
 336,
 342,
 348,
 354,
 360,
 366,
 372,
 378,
 384,
 390,
 396,
 402,
 408,
 414,
 420,
 426,
 432,
 438,
 444,
 450,
 456,
 462,
 468,
 474,
 480,
 486,
 492,
 498,
 504,
 510,
 516,
 522,
 528,
 534,
 540,
 546,
 552,
 558,
 564,
 570,
 576,
 582,
 588,
 594,
 600,
 606,
 612,
 618,
 624,
 630,
 636,
 642,
 648,
 654,
 660,
 666,
 672,
 678,
 684,
 690,
 696,
 702,
 708,
 714,
 720,
 726,
 732,
 738,
 744,
 750,
 756,
 762,
 768,
 774,
 780,
 786,
 792,
 798,
 804,
 810,
 816,
 822,
 828,
 834,
 840,
 846,
 852,
 858,
 864,
 870,
 876,
 882,
 888,
 894,
 900,
 906,
 912,
 918,
 924,
 930,
 936,
 942,
 948,
 954,
 960,
 966,
 972,
 978,
 984,
 990,
 996]

In [7]:
# 7
print("Here are twenty numbers divisible by 6.")
for i in lst_1000[:20]:
    print(i)

Here are twenty numbers divisible by 6.
6
12
18
24
30
36
42
48
54
60
66
72
78
84
90
96
102
108
114
120

In [8]:
# 8
max_lst = max(lst_1000)

In [9]:
# 9
print("The maximum value in the list is: {}".format(max_lst))

The maximum value in the list is: 996

In [10]:
#10
large_sum = sum(lst_1000[10:51])
print("Here is the sum of several values in the list: {}".format(large_sum))

Here is the sum of several values in the list: 7626

In [11]:
# 11
lst_of_course = lst_1000