In [19]:
# import library
import pandas as pd
import numpy as np

In [20]:
# Source of dataset https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-white.csv
df = pd.read_csv('winequality-white1.csv',delimiter=';')

In [23]:
df.head(5)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

# 1

In [24]:
df = df.replace({'quality' : { 3 : 0, 4: 0, 5 : 1, 6 : 1, 7 : 2, 8 : 2, 9 : 2}})

In [3]:
# replace 7,8,9 with 2
# 5,6 with 1
# and remaining with 0
df['quality'] = np.where(df['quality'] >=7, 2,np.where(df['quality']>=5,1,0))

In [4]:
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,1
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,1
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,1
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,1
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,1
...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,1
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,1
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,1
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,2
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,1

# 6

In [5]:
# define x and y
X = df.iloc[:,:-1].values
y = df.iloc[:, -1].values # last column

In [6]:
# normalize the data
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler()
X = sc.fit_transform(X)

# 7

In [7]:
# splitting the data into training and test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 42)

# 8

In [8]:
# Buliding the KNN Model
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors = 5)
classifier.fit(X_train, y_train)

KNeighborsClassifier()

In [9]:
# Predict on Test set
y_pred = classifier.predict(X_test)

# 9

In [10]:
# Confusion Matrix
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report
cm = confusion_matrix(y_test, y_pred)

In [11]:
cm # confusion matrix

array([[  4,  33,   2],
       [  6, 815,  81],
       [  1, 126, 157]], dtype=int64)

# 10

In [12]:
acc = accuracy_score(y_test,y_pred) # accuracy

In [13]:
print('Accuracy is: ',round(acc,2)) # round() : round to 2 decimal places

Accuracy is:  0.8

In [14]:
# Reference: https://towardsdatascience.com/multi-class-classification-extracting-performance-metrics-from-the-confusion-matrix-b379b427a872

# compute different positive and negative rates
FP = cm.sum(axis=0) - np.diag(cm) 
FP = FP.astype(float)

FN = cm.sum(axis=1) - np.diag(cm)
FN = FN.astype(float)

TP = np.diag(cm)
TP = TP.astype(float)

TN = cm.sum() - (FP + FN + TP)
TN = TN.astype(float)

TPR = TP/(TP+FN) # Sensitivity 
TNR = TN/(TN+FP) # Specificity

In [15]:
print('Sensitivity is: ',TPR)

Sensitivity is:  [0.1025641  0.90354767 0.5528169 ]

In [16]:
print('Specificity is: ',TNR)

Specificity is:  [0.99409781 0.50773994 0.91179596]